<div class="container-fluid">
   <div class="container">
        <p>This Summer we invited the world's famous jitterbugs Pol Prats and Sara Planas
       to London to share some of their favourite recipes how to make the crowd cheer and scream!
       Over the two days we will learn how to cook hot spicy Aerial Steps and delicious juicy Shag moves.</p>

     <p>For more information and updates please see <a href="https://www.facebook.com/events/1295234280594338" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i> Salty Recipes ☆ Aerials / Shag with Pol & Sara</a>. </p>

   </div>
</div>