<header>
          <p class="container">
              <div class="intro-text">
                  <h3 class="display-5">29-30 July</h3>
                  <h3 class="display-5">London</h3>
                  <h2 class="display-4">{{ event.name }}</h2>
              </div>
          </div>
      <!--</div>-->
    </header>

<section class="container-fluid my-5">
   <div class="container">
        <p>This Summer we invited the world's famous jitterbugs Pol Prats and Sara Planas
       to London to share some of their favourite recipes how to make the crowd cheer and scream!
       Over the two days we will learn how to cook hot spicy Aerial Steps and delicious juicy Shag moves.</p>

        <div class="row my-3">
            <div class="col col-12 col-lg-6">
                <h4>29/07 ✰ Aerials, 2x 2 hours</h4>
        <small class="text-muted">
        <p>Be ready for the best mix of ingredients to put some flavour to your Aerials menu!
            The starter is a 10-15 minutes warm up followed by 4-6 aerials that will leave your mouth open.
            Our menu doesn't offer the standard ones like "around the back".
            Instead we focus on the original recipes, some traditional aerials and some more modern.
            Our ingredients are perfect to be blended with Shag or Lindy.</p>

        <p>We won’t rotate in this class so you will need to find a partner who you trust and have danced with before.
            This is an improvers / intermediate level aerials workshop. Some experience would be recommended.</p>

        <p>The first 2 hours section will start with our basics but breathtaking aerial steps.
            The second 2 hours section will continue with the main special ones.</p>

        <p>Dress code:
            <ul>
                <li>No chains, belts, bracelets, etc</li>
                <li>Wear sports clothes and sneakers.</li>
                <li>Bring a thin long sleeve t-shirt for followers just in case.</li>
            </ul>
        </p>
        <p> Prices:
            <ul>
                <li>Full menu: £40 x person (4 hours workshop)</li>
                <li>Half menu: £25 x person (2 hours workshop)</li>
            </ul>
        </p>
        </small>
            </div>
            <div class="col col-12 col-lg-6">
                <h4>30/07 ✰ Collegiate Shag 3 hours</h4>
                <small class="text-muted">
        <p>Our chefs Pol and Sara will share some of the Spanish secrets that will give to your Shag the right seasoning.</p>

        <p>Main course starts with the Barcelona Shag festival these 2 amazing Shag specialists have developed
            a very special and unique Shag style full of spicy combo steps.</p>

        <p>Be careful! The dishes will get so savory that we advise you attend only if you are able to
            dance Shag socially thus workshop is directed to intermediate and advanced levels.</p>

        <p>Dress code:
            <ul>
                    <li>comfortable clothes,</li>
                    <li>your favourite dancing shoes,</li>
                    <li>please bring set of spare t-shirts</li>
                </ul></p>

        <p>Prices:
            <ul>
                    <li>Full menu: £35 x person (3 hours workshop)</li>
                </ul>
                    </p>
                    </small>
            </div>
        </div>


       <p>For more information and updates please see <a href="https://www.facebook.com/events/1295234280594338" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i> Salty Recipes ☆ Aerials / Shag with Pol & Sara</a>. </p>

    </div>
</section>