{% extends "signup.html" %}

{% block header_section %}
<header>
    <div class="container">
      <div class="intro-text">
          <h3 class="display-5">17 September</h3>
          <h3 class="display-5">London</h3>
          <h2 class="display-4">{{ event.name }}</h2>
      </div>
    </div>
</header>
{% endblock %}

{% block info_section %}
<section class="container-fluid my-5">
   <div class="container">
        <p>Just like Popeye found his Olivia, our good-looking Patrick found the perfect follower Fancy
            to team up for our next Salty Recipes.</p>

       <p>There will be two Shag recipes to satisfy the most extravagant tastes: "Olive oil - smooth your Shag"
       and "Spinach - boost your Shag" focused on smooth, fast elegant technique and energetic moves and combos.</p>

       <p>To give you a perfect experience during the workshop we will limit the capacity to <b>just 25 places</b>
       and will limit the balance between leads and followers.</p>

       <p>As a gratitude to those who supported our first Salty Recipes we offer a special discount price to all
       of the attendants of the recipes with Pol & Sara. Also there is a discount for the first 15 registered and
       a discount for those who book both olive oil and spinach recipes.</p>

       <div class="card my-3">
           <div class="card-header"><h5>Prices (for each recipe)</h5></div>
           <div class="card-text">
               <small>
               <ul class="list-group">
                   <li class="list-group-item"><b>Salty discount price: £25</b>&nbsp;(if attended previous Salty Recipes)</li>
                   <li class="list-group-item"><b>Early registration discount price: £25</b>&nbsp; (first 15 registered)</li>
                   <li class="list-group-item"><b>Full menu discount price: £30</b>&nbsp; (if book both tracks)</li>
                   <li class="list-group-item"><b>Full price: £35</b></li>
               </ul>
               </small>
           </div>
       </div>

       <div class="card my-3">
           <div class="card-header"><h5>Dress code</h5></div>
           <div class="card-text">
               <small>
               <ul class="list-group">
                   <li class="list-group-item">Comfortable clothes</li>
                   <li class="list-group-item">Your favourite dancing shoes</li>
                   <li class="list-group-item">Please bring set of spare t-shirts</li>
               </ul>
               </small>
           </div>
       </div>

       <p>For more information and updates please see <a href="https://www.facebook.com/SaltyJitterbugs/" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i> Salty Recipes with Patrick & Fancy</a>. </p>

    </div>
</section>
{% endblock %}

{% block og_meta %}
<meta property="og:image" content="{{ url_for('static', filename='events/{}/event_preview.jpg'.format(event.event_key), _external=True) }}">
{% endblock %}