{% extends "signup.html" %}

{% block header_section %}
<header>
    <div class="container">
      <div class="intro-text">
          <h3 class="display-5">17 September</h3>
          <h3 class="display-5">London</h3>
          <h2 class="display-4">{{ event.name }}</h2>
      </div>
    </div>
</header>
{% endblock %}

{% block info_section %}
<section class="container-fluid my-5">
   <div class="container">
        <p>I yam what I yam and tha's all what I yam! Do you follow a properly balanced Collegiate Shag diet?
            Meet the chefs of our next Salty Recipes: Patrick O'Brien and Fancy Dougherty.
            Like Popeye the Sailor and Olive Oyl they will teach us magic nutrition secrets
            that make their style so smooth & elegant but so energetic that not even Brutus could be able
            to fight against that force.</p>

       <p>There will be two Shag recipes to satisfy the most extravagant tastes: "Olive oil - smooth your Shag"
       and "Spinach - boost your Shag" focused on smooth, fast elegant technique and energetic moves and combos.</p>

       <p>The level of the workshops is improvers/intermediate, assuming you can socially dance Shag,
           comfortable with the footwork and basic figures.
           You don't need a partner to sign up,
           however signing up together will let you avoid the waiting list if there is one.</p>

       <p>To give you a perfect experience during the workshop we will limit the capacity to <b>just 25 places</b>
       and will limit the balance between leads and followers.</p>

       <p>As a gratitude to those who supported our first Salty Recipes we offer a special discount price to all
       of the attendants of the recipes with Pol & Sara. Also there is a discount for the first 15 registered and
       a discount for those who book both olive oil and spinach recipes.</p>

       <div class="card my-3">
           <div class="card-header"><h5>Prices</h5></div>
           <div class="card-text">
               <small>
                   <table class="table">
                       <thead>
                       <tr>
                           <th></th>
                           <th>Both tracks</th>
                           <th>One track</th>
                       </tr>
                       </thead>
                       <tbody>
                       <tr>
                           <td><b>Salty discount price</b>&nbsp;(if attended previous Salty Recipes)<br>
                           *&nbsp;valid only till 4-Sep-2017</td>
                           <td>£50</td><td>£25</td>
                       </tr>
                       <tr>
                           <td><b>Early registration price</b>&nbsp; (first 15 registered)</td>
                           <td>£50</td><td>£25</td>
                       </tr>
                       <tr>
                           <td><b>Regular price</b></td>
                           <td>£60</td><td>£35</td>
                       </tr>
                       </tbody>
                   </table>
               </small>
           </div>
       </div>

       <div class="card my-3">
           <div class="card-header"><h5>Dress code</h5></div>
           <div class="card-text">
               <small>
               <ul class="list-group">
                   <li class="list-group-item">Comfortable clothes</li>
                   <li class="list-group-item">Your favourite dancing shoes</li>
                   <li class="list-group-item">Please bring set of spare t-shirts</li>
               </ul>
               </small>
           </div>
       </div>

       <p>For more information and updates please see <a href="https://www.facebook.com/events/146090735981120" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i> Salty Recipes with Patrick & Fancy</a>. </p>

    </div>
</section>
{% endblock %}

{% block og_meta %}
<meta property="og:image" content="{{ url_for('static', filename='events/{}/event_preview.jpg'.format(event.event_key), _external=True) }}">
{% endblock %}