{% extends "signup_form.html" %}

{% block products %}
        <div class="container-fluid">
            <div class="container my-4">
                <div class="card bg-primary text-light">
                    <div class="card-body">
                        <h3 class="card-title"><i class="fa fa-fw fa-users" aria-hidden="true"></i> Are you part of a group from outside London?</h3>
                        <div class="btn-group nav my-4" data-toggle="buttons">
                                <button class="btn btn-outline-light {% if form_controller.group_form.group_participation.data=='existing' %}active{%endif%}" data-toggle="tab" href="#newgroup">
                                    <input type="radio" name="{{form_controller.group_form.group_participation.id}}" value="existing"  {% if form_controller.group_form.group_participation.data=='existing' %}checked{%endif%}>Join Existing Group
                                </button>
                                <button class="btn btn-outline-light {% if form_controller.group_form.group_participation.data=='new' %}active{%endif%}" data-toggle="tab" href="#profile">
                                    <input type="radio" name="{{form_controller.group_form.group_participation.id}}" value="new" {% if form_controller.group_form.group_participation.data=='new' %}checked{%endif%}>Create New Group
                                </button>
                        </div>

                        <div class="tab-content mb-4" id="myTabContent">
                          <div class="tab-pane fade {% if form_controller.group_form.group_participation.data=='existing' %}show active{%endif%}" id="newgroup" role="tabpanel" aria-labelledby="joingroup-tab">
                              {{ slt.token_field(form_controller.group_form.group_token) }}
                                {% if form_controller.group_form.group_token.data %}
                                    {% if form_controller.get_group(event) %}
                                        Group found: {{ form_controller.get_group(event).name }}!
                                    {% else %}
                                        Group not found...
                                    {% endif %}
                                {% endif %}
                          </div>
                          <div class="tab-pane fade {% if form_controller.group_form.group_participation.data=='new' %}show active{%endif%}" id="profile" role="tabpanel" aria-labelledby="newgroup-tab">
                              {{ slt.field_with_icon(form_controller.group_form.group_name, 'users') }}
                              {{ slt.field_with_icon(form_controller.group_form.location, 'map-marker') }}
                              {{ wtf.form_field(form_controller.group_form.group_description) }}
                      </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if form_controller.is_group_registration %}
        <div class="container">
            <div class="alert alert-dismissible {%if form_controller.selected_stations_count<3 %}alert-warning{%else%}alert-success{%endif%}">
                <i class="fa fa-fw {%if form_controller.selected_stations_count<3 %}fa-exclamation-triangle{%else%}fa-check-circle{%endif%}" aria-hidden="true"></i>
              <strong>You are signing up as part of the group "{{form_controller.group_form.add.data}}"!</strong>
                <p>This gives you a £10 discount on the Full Weekend Ticket or any of the Fast Train Tickets (with parties).</p>
                <p>The discount is applied straight away. However if your group doesn't get to meet the minimum requirements
                    before the event starts, the discount amount will be charged back.</p>
            </div>
        </div>
        {% endif %}

        <div class="container-fluid">
            <div class="container my-4">
                <h3 >Weekend Tickets</h3>
                <div class="card-deck my-2">
                {{ mts_weekend_ticket(form.get_product_by_key('full_weekend_ticket'), event, icon='ticket') }}
                {{ mts_weekend_ticket(form.get_product_by_key('full_weekend_ticket_no_parties'), event, icon='ticket') }}
                </div>
                <div class="card-deck my-2">
                {{ mts_weekend_ticket(form.get_product_by_key('fast_train_to_collegiate_shag'), event, icon='subway') }}
                {{ mts_weekend_ticket(form.get_product_by_key('fast_train_to_collegiate_shag_no_parties'), event, icon='subway') }}
                </div>
                <div class="card-deck my-2">
                {{ mts_weekend_ticket(form.get_product_by_key('fast_train_to_st_louis_shag'), event, icon='subway') }}
                {{ mts_weekend_ticket(form.get_product_by_key('fast_train_to_st_louis_shag_no_parties'), event, icon='subway') }}
                </div>
                {{ mts_weekend_ticket(form.get_product_by_key('parties_only'), event, icon='ticket') }}
            </div>
        </div>

        {% if form_controller.full_pass_selected %}
        <div class="container">
            <div class="alert alert-dismissible {%if form_controller.selected_stations_count<3 %}alert-warning{%else%}alert-success{%endif%}">
              <!--<button type="button" class="close" data-dismiss="alert">&times;</button>-->
                <i class="fa fa-fw {%if form_controller.selected_stations_count<3 %}fa-exclamation-triangle{%else%}fa-check-circle{%endif%}" aria-hidden="true"></i>
              <strong>Full Weekend Pass includes 3 stations!</strong>
                You have already selected {{ form_controller.selected_stations_count }}.
            </div>
        </div>
        {% endif %}

        {% if form_controller.is_couples_only %}
        <div class="container">
            <div class="alert alert-dismissible alert-info">
                <i class="fa fa-info-circle fa-fw" aria-hidden="true"></i>
              <strong>You have chosen a Couple weekend ticket!</strong>
                You can book classes only for both you and your partner.
            </div>
        </div>
        {% endif %}

        {% if form_controller.is_singles_only %}
        <div class="container">
            <div class="alert alert-dismissible alert-info">
                <i class="fa fa-info-circle fa-fw" aria-hidden="true"></i>
              <strong>You have chosen a Single weekend ticket!</strong>
                You can book classes only for yourself.
            </div>
        </div>
        {% endif %}


        <div class="container-fluid">
            <div class="container my-4">
                <h3 >Saturday Classes</h3>
                <table class="table bg-primary">
                    <tbody>
                    <tr>
                        <td class="w-25"></td>
                        <td class="w-25">{{ mts_station(form.get_product_by_key('st_louis_shag_essence'), event) }}</td>
                        <td class="w-25">{{ mts_station(form.get_product_by_key('flea_hops_tricks'), event) }}</td>
                    </tr>
                    <tr>
                        <td class="w-25">{{ mts_station(form.get_product_by_key('shag_roots'), event) }}</td>
                        <td class="w-25">{{ mts_station(form.get_product_by_key('pocket_rocket_shag'), event) }}</td>
                        <td class="w-25">{{ mts_station(form.get_product_by_key('superman_circle_pit'), event) }}</td>
                    </tr>
                    <tr>
                        <td class="w-25">{{ mts_station(form.get_product_by_key('rising_shag'), event) }}</td>
                        <td class="w-25">{{ mts_station(form.get_product_by_key('rockabilly_bopper_shag'), event) }}</td>
                        <td class="w-25"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="container-fluid">
            <div class="container my-4">
                <h3 >Sunday Classes</h3>
                <table class="table bg-primary">
                    <tbody>
                    <tr>
                        <td class="w-25"></td>
                        <td class="w-25"></td>
                        <td class="w-25">{{ mts_station(form.get_product_by_key('swing_out_like_you_re_from_st_louis'), event) }}</td>
                    </tr>
                    <tr>
                        <td class="w-25">{{ mts_station(form.get_product_by_key('christian_jenny_s_original_shag_moves'), event) }}</td>
                        <td class="w-25">{{ mts_station(form.get_product_by_key('rhythm_shag'), event) }}</td>
                        <td class="w-25">{{ mts_station(form.get_product_by_key('tandem_time'), event) }}</td>
                    </tr>
                    <tr>
                        <td class="w-25"></td>
                        <td class="w-25">{{ mts_station(form.get_product_by_key('momentum_madness'), event) }}</td>
                        <td class="w-25">{{ mts_station(form.get_product_by_key('phony_boy'), event) }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container-fluid">
            <div class="container my-4">
                <h3 >Parties</h3>
                <div class="card-deck mt-2">
                {{ mts_party_ticket(form.get_product_by_key('friday_party'), event) }}
                {{ mts_party_ticket(form.get_product_by_key('saturday_party'), event) }}
                {{ mts_party_ticket(form.get_product_by_key('sunday_party'), event) }}
                </div>
            </div>
        </div>
{% endblock %}

{% macro mts_station(form_field, event) %}
               <div class="card {{form_controller.station_card_style(form_field)}}" id="{{form_field.add.id}}-card">
                   <div class="card-body">
                       <h5 class="card-title">{% if form_controller.is_station_preselected(form_field) %}<i class="fa fa-fw fa-lock" aria-hidden="true"></i> {%endif%}{{ form_field.product_name }}</h5>
                       <!--<span class="badge badge-pill badge-info">{{ form_field.workshop_level }}</span><br>-->
                       <div class="btn-group" data-toggle="buttons">
                            {% for radio_value, radio_label, radio_bool in form_controller.iter_station_choices(form_field) %}
                                {% if radio_value == '' %}
                                <button class="btn btn-sm btn-outline-success form-control btn-responsive radio-none">
                                    <input type="radio" name="{{form_field.add.id}}" value="{{radio_value}}" id="{{form_field.add.id}}-none"><i class="fa fa-times" aria-hidden="true"></i>
                                </button>
                                {% else %}
                                    {% if form_field.waiting_lists[0][radio_value] == 0 %}
                                <button class="btn btn-sm btn-outline-success form-control btn-responsive {{form_controller.radio_field_checked(form_field, radio_value, yes='active')}}" onclick="select_card('{{form_field.add.id}}-card');">
                                    <input type="radio" name="{{form_field.add.id}}" value="{{radio_value}}" {{form_controller.radio_field_checked(form_field, radio_value)}}>{{radio_label}}
                                </button>
                                    {% else %}
                                    <button class="btn btn-sm btn-outline-warning form-control btn-responsive {{form_controller.radio_field_checked(form_field, radio_value, yes='active')}}" onclick="select_card('{{form_field.add.id}}-card');">
                                        <input type="radio" name="{{form_field.add.id}}" value="{{radio_value}}" {{form_controller.radio_field_checked(form_field, radio_value)}}>{{radio_label}}
                                    </button>
                                    {% endif %}

                                {% endif %}
                            {% endfor %}
                       </div>
                   </div>
                   <div class="card-footer">
                        <small class="text-muted"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i> {{ form_field.workshop_time }}</small>
                        <small class="text-muted"><i class="fa fa-id-badge fa-fw" aria-hidden="true"></i> {{ form_field.workshop_teachers }}</small><br>
                       <!--<span class="badge badge-pill badge-info">{{ form_field.workshop_level }}</span>-->
                       {{form_controller.line_badges(form_field) | safe}}
                       {% if form_field.available_quantity <= 15 %}
                        <br><span class="badge badge-danger"><i class="fa fa-fw fa-exclamation-circle" aria-hidden="true"></i> Just {{ form_field.available_quantity }} places left!</span>
                       {% endif %}
                   </div>
               </div>
{% endmacro %}

{% macro mts_weekend_ticket(form_field, event, icon=False) %}
    <div class="card {{form_controller.ticket_card_style(form_field)}}" id="{{form_field.add.id}}-card">
        <div class="card-body">
            <h5 class="card-title">{% if icon %}<i class="fa fa-fw fa-{{icon}}" aria-hidden="true"></i> {%endif%}{{ form_field.product_name }}</h5>
            <span class="badge badge-light">{{ form_field.price | price_int }}</span><br>
            <p class="card-text"><small>{{ form_field.info }} </small></p>
               <div class="btn-group" data-toggle="buttons">
                    {% for radio_value, radio_label, radio_bool in form_field.add.iter_choices() %}
                        {% if radio_value == '' %}
                        <button class="btn btn-outline-light form-control btn-responsive radio-none" onclick="uncheck_preselectable();">
                            <input type="radio" name="{{form_field.add.id}}" value="{{radio_value}}" id="{{form_field.add.id}}-none"><i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                        {% else %}
                        <button class="btn btn-outline-light form-control btn-responsive {{form_controller.radio_field_checked(form_field, radio_value, yes='active')}}" onclick="select_card('{{form_field.add.id}}-card');uncheck_weekend_tickets('{{form_field.add.id}}')">
                            <input type="radio" name="{{form_field.add.id}}" value="{{radio_value}}" {{form_controller.radio_field_checked(form_field, radio_value)}}>{{radio_label}}
                        </button>
                        {% endif %}
                    {% endfor %}
               </div>
            </div>
    </div>
{% endmacro %}

{% macro mts_party_ticket(form_field, event) %}
    <div class="card {{form_controller.party_card_style(form_field)}}" id="{{form_field.add.id}}-card">
        <div class="card-body">
            <h5 class="card-title">{% if form_controller.is_parties_included %}<i class="fa fa-fw fa-lock" aria-hidden="true"></i> {%endif%}{{ form_field.product_name }}</h5>
            <small><i class="fa fa-calendar fa-fw" aria-hidden="true"></i> {{ form_field.party_date }}</small><br>
            <span class="badge badge-light">{{ form_field.price | price_int }}</span><br>
            <p class="card-text"><small>{{ form_field.info }} </small></p>
               <div class="btn-group" data-toggle="buttons">
                    {% for radio_value, radio_label, radio_bool in form_field.add.iter_choices() %}
                        {% if radio_value == '' %}
                        <button class="btn btn-outline-light form-control btn-responsive radio-none">
                            <input type="radio" name="{{form_field.add.id}}" value="{{radio_value}}" id="{{form_field.add.id}}-none"><i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                        {% else %}
                        <button class="btn btn-outline-light form-control btn-responsive {{form_controller.radio_field_checked(form_field, radio_value, yes='active')}}" onclick="select_card('{{form_field.add.id}}-card');">
                            <input type="radio" name="{{form_field.add.id}}" value="{{radio_value}}" {{form_controller.radio_field_checked(form_field, radio_value)}}>{{radio_label}}
                        </button>
                        {% endif %}
                    {% endfor %}
               </div>
            </div>
    </div>
{% endmacro %}
