{% extends "signup.html" %}

{% block header_section %}
<header>
    <div class="container">
      <div class="intro-text">
          <h3 class="display-5">26 November</h3>
          <h3 class="display-5">London</h3>
          <h2 class="display-4">{{ event.name }}</h2>
      </div>
    </div>
</header>
{% endblock %}

{% block info_section %}
{% endblock %}

{% block products %}
        <div class="container-fluid">
            <div class="container my-4">
                <h3 >Weekend Tickets</h3>
                {{ mts_weekend_ticket(form.get_product_by_key('full_weekend_ticket'), event) }}
                {{ mts_weekend_ticket(form.get_product_by_key('full_weekend_ticket_no_parties'), event) }}
                {{ mts_weekend_ticket(form.get_product_by_key('fast_train_to_collegiate_shag'), event) }}
                {{ mts_weekend_ticket(form.get_product_by_key('fast_train_to_collegiate_shag_no_parties'), event) }}
                {{ mts_weekend_ticket(form.get_product_by_key('fast_train_to_st_louis_shag'), event) }}
                {{ mts_weekend_ticket(form.get_product_by_key('fast_train_to_st_louis_shag_no_parties'), event) }}
            </div>
        </div>

        <div class="container-fluid">
            <div class="container my-4">
                <h3 >Saturday Classes</h3>
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <td></td>
                        {{ mts_station(form.get_product_by_key('st_louis_shag_essence'), event) }}
                        {{ mts_station(form.get_product_by_key('flea_hops_tricks'), event) }}
                    </tr>
                    <tr>
                        {{ mts_station(form.get_product_by_key('shag_roots'), event) }}
                        {{ mts_station(form.get_product_by_key('pocket_rocket_shag'), event) }}
                        {{ mts_station(form.get_product_by_key('superman_circle_pit'), event) }}
                    </tr>
                    <tr>
                        {{ mts_station(form.get_product_by_key('rising_shag'), event) }}
                        {{ mts_station(form.get_product_by_key('rockabilly_bopper_shag'), event) }}
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="container-fluid">
            <div class="container my-4">
                <h3 >Sunday Classes</h3>
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        {{ mts_station(form.get_product_by_key('swing_out_like_you_re_from_st_louis'), event) }}
                    </tr>
                    <tr>
                        {{ mts_station(form.get_product_by_key('christian_jenny_s_original_shag_moves'), event) }}
                        {{ mts_station(form.get_product_by_key('tandem_time'), event) }}
                        {{ mts_station(form.get_product_by_key('rhythm_shag'), event) }}
                    </tr>
                    <tr>
                        <td></td>
                        {{ mts_station(form.get_product_by_key('phony_boy'), event) }}
                        {{ mts_station(form.get_product_by_key('momentum_madness'), event) }}
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container-fluid">
            <div class="container my-4">
                <h3 >Parties</h3>
                {{ mts_weekend_ticket(form.get_product_by_key('all_parties'), event) }}
                {{ mts_party_ticket(form.get_product_by_key('friday_party'), event) }}
                {{ mts_party_ticket(form.get_product_by_key('saturday_party'), event) }}
                {{ mts_party_ticket(form.get_product_by_key('sunday_party'), event) }}
            </div>
        </div>
{% endblock %}

{% block og_meta %}
<meta property="og:image" content="{{ url_for('static', filename='events/{}/event_preview.jpg'.format(event.event_key), _external=True) }}">
{% endblock %}

{% macro mts_station(form_field, event) %}
           <td class="table">
               <div class="container">
                <h5 class="t-title-8 p-b-8">{{ form_field.product_name }}</h5>
               <span class="badge badge-pill badge-info">{{ form_field.workshop_level }}</span><br>
                <!--<i class="fa fa-clock-o" aria-hidden="true"></i><small class="m-b-5">5:30pm-6:35pm</small>-->
                <small class="text-muted"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i> {{ form_field.workshop_time }}</small><br>
                <small class="text-muted"><i class="fa fa-id-badge fa-fw" aria-hidden="true"></i> {{ form_field.workshop_teachers }}</small><br>
                   <div class="btn-group" data-toggle="buttons">
                        {% for radio_value, radio_label, radio_bool in form_field.add.iter_choices() %}
                            {% if radio_value == '' %}
                            <button class="btn btn-outline-secondary form-control btn-responsive radio-none">
                                <input type="radio" name="{{form_field.add.id}}" value="{{radio_value}}" checked><i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                            {% elif radio_value == 'couple' %}
                                {% if form_field.waiting_lists[1]['leader']+form_field.waiting_lists[1]['follower'] == 0 %}
                            <button class="btn btn-outline-success form-control btn-responsive ">
                                <input type="radio" name="{{form_field.add.id}}" value="{{radio_value}}">{{radio_label}}
                            </button>
                                {% else %}
                            <button class="btn btn-outline-warning form-control btn-responsive ">
                                <input type="radio" name="{{form_field.add.id}}" value="{{radio_value}}">{{radio_label}}
                            </button>
                                {% endif %}
                            {% else %}
                                {% if form_field.waiting_lists[0][radio_value] == 0 %}
                            <button class="btn btn-outline-success form-control btn-responsive ">
                                <input type="radio" name="{{form_field.add.id}}" value="{{radio_value}}">{{radio_label}}
                            </button>
                                {% else %}
                                <button class="btn btn-outline-warning form-control btn-responsive ">
                                    <input type="radio" name="{{form_field.add.id}}" value="{{radio_value}}">{{radio_label}}
                                </button>
                                {% endif %}

                            {% endif %}
                        {% endfor %}
                   </div>
               </div>
           </td>

{% endmacro %}

{% macro mts_weekend_ticket(form_field, event) %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ form_field.product_name }}</h5>
            <small class="text-muted"><i class="fa fa-money fa-fw" aria-hidden="true"></i> {{ form_field.price | price_int }}</small><br>
            <p class="card-text"><small class="text-muted">{{ form_field.info }} </small></p>
               <div class="btn-group" data-toggle="buttons">
                    {% for radio_value, radio_label, radio_bool in form_field.add.iter_choices() %}
                        {% if radio_value == '' %}
                        <button class="btn btn-outline-secondary form-control btn-responsive radio-none">
                            <input type="radio" name="{{form_field.add.id}}" value="{{radio_value}}" checked><i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                        {% else %}
                        <button class="btn btn-outline-success form-control btn-responsive ">
                            <input type="radio" name="{{form_field.add.id}}" value="{{radio_value}}">{{radio_label}}
                        </button>
                        {% endif %}
                    {% endfor %}
               </div>
            </div>
    </div>
{% endmacro %}

{% macro mts_party_ticket(form_field, event) %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ form_field.product_name }}</h5>
            <small class="text-muted"><i class="fa fa-calendar fa-fw" aria-hidden="true"></i> {{ form_field.party_date }}</small><br>
            <small class="text-muted"><i class="fa fa-money fa-fw" aria-hidden="true"></i> {{ form_field.price | price_int }}</small><br>
            <p class="card-text"><small class="text-muted">{{ form_field.info }} </small></p>
               <div class="btn-group" data-toggle="buttons">
                    {% for radio_value, radio_label, radio_bool in form_field.add.iter_choices() %}
                        {% if radio_value == '' %}
                        <button class="btn btn-outline-secondary form-control btn-responsive radio-none">
                            <input type="radio" name="{{form_field.add.id}}" value="{{radio_value}}" checked><i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                        {% else %}
                        <button class="btn btn-outline-success form-control btn-responsive ">
                            <input type="radio" name="{{form_field.add.id}}" value="{{radio_value}}">{{radio_label}}
                        </button>
                        {% endif %}
                    {% endfor %}
               </div>
            </div>
    </div>
{% endmacro %}