{% extends "signup.html" %}

{% block header_section %}
<header class="bg-dark text-light">
    <div class="container">
      <div class="intro-text">
          <h3 class="display-5">26 November</h3>
          <h3 class="display-5">London</h3>
          <h2 class="display-4">{{ event.name }}</h2>
      </div>
    </div>
</header>
{% endblock %}

{% block info_section %}
{% endblock %}

{% block signup_form %}
{% include "events/mind_the_shag_2018/mts_signup_form.html" %}
{% endblock %}


{% block scripts %}
{{ super() }}

<script>
    function uncheck_weekend_tickets(my_ticket) {
        [
           'full_weekend_ticket-add',
           'full_weekend_ticket_no_parties-add',
           'fast_train_to_collegiate_shag-add',
           'fast_train_to_collegiate_shag_no_parties-add',
           'fast_train_to_st_louis_shag-add',
           'fast_train_to_st_louis_shag_no_parties-add',
           'all_parties-add'
        ].forEach(function(ticket_name) {
            if (ticket_name!=my_ticket) {
                console.log(ticket_name);
                $('#'+ticket_name+'-none').prop('checked',true);
            }
        });
    }
</script>
{% endblock %}

{% block og_meta %}
<meta property="og:image" content="{{ url_for('static', filename='events/{}/event_preview.jpg'.format(event.event_key), _external=True) }}">
{% endblock %}