<!DOCTYPE html>
<html>
  <head>

    <title>
Salty Jitterbugs - Salty Recipes with Simona &amp; Rokas

</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.2/cosmo/bootstrap.min.css" rel="stylesheet" integrity="sha384-52tWTPZ1e5eK+C2aGPCgDjrEgVkKMO+0qDuRNj3tS2EugIrICHWqkGuLu442CP2S" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">-->
<style>
.bg-grey {
    background-color: #f6f6f6;
}

header {
    background-image:url(/static/events/salty_recipes_with_simona_rokas/event_cover.jpg);
    background-repeat:no-repeat;
    background-attachment:scroll;
    background-position:center center;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
    -o-background-size:cover;
    text-align:center;
    color:#fff;
    background-color: #333;
}
header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px
}

@media (max-width: 400px) {
  .btn-responsive {
    white-space: normal;
    font-size:75%;
  }
}
</style>


<meta property="og:image" content="https://www.saltyjitterbugs.co.uk/static/events/salty_recipes_with_simona_rokas/event_preview.jpg">


  </head>
  <body>


   <!--<div class="container">-->
      <!--<div class="jumbotron">-->


<header>
    <div class="container">
      <div class="intro-text">
          <h3 class="display-5">26 November</h3>
          <h3 class="display-5">London</h3>
          <h2 class="display-4">Salty Recipes with Simona &amp; Rokas</h2>
      </div>
    </div>
</header>
<header class="sticky-top bg-dark">
    <div class="container">
         <h3 class="display-5">Total: £120</h3>
                                            <button type="button" id="checkout" class="btn btn-dark btn-outline-light">
                                        <i class="fa fa-credit-card fa-fw" aria-hidden="true"></i>
                                        <span id="checkout_text">Sign up and pay</span>
                                    </button>
    </div>
</header>


<!--<section class="container-fluid my-5  sticky-top">-->
    <!--aaaa-->
<!--</section>-->

<section class="container-fluid my-5">
   <div class="container">
        <p>This time we are bringing the super stars of the European St.Louis Shag scene, straight from Vilnius,
            Simona Pogosian and Rokas Borusevičius!
            We can't stop enjoying their crazy energy and style.
            They have been one of the few headliners spreading St.Louis Shag
            in Europe and making this awesome dance popular!
            Now they are coming to London!</p>

       <p>We will have 2 classes on St.Louis Shag.
           Both classes are aimed for improvers/intermediate swing dancers.
           The first one "Potato Pancakes" will be good for the dancers who have no or little experience
           with St.Louis Shag or those who want to refresh their fundamentals.
           It will cover the basics and move on to the more complicated material.
           The second class "Zeppelins" will focus on extending the Shag repertoire
           and will assume that you are either familiar with St.Louis Shag or have attended the first class.</p>

       <p>You don't need a partner to sign up,
           however signing up together will let you avoid the waiting list if there is one.</p>

       <p>To give you a perfect experience during the workshop we will limit the capacity to <b>just 30 places</b>
       and will limit the balance between leads and followers.</p>

       <p>As a gratitude to those who supported our first Salty Recipes we offer a special discount price to all
       of the attendants of the recipes with Pol & Sara. Also there is a discount for the first 15 registered and
       a discount for those who book both olive oil and spinach recipes.</p>


       <div class="card my-3">
           <div class="card-header"><h5>Prices</h5></div>
           <div class="card-text">
               <small>
                   <table class="table">
                       <thead>
                       <tr>
                           <th></th>
                           <th>Both tracks</th>
                           <th>One track</th>
                       </tr>
                       </thead>
                       <tbody>
                       <tr>
                           <td><b>Salty discount price</b>&nbsp;(if attended previous Salty Recipes)
                           </td>
                           <td>£50</td><td>£25</td>
                       </tr>
                       <tr class="disabled">
                           <td><strike><b>Early registration price</b>&nbsp;(first 15 registered)</strike>
                            </td>
                           <td>£50</td><td>£25</td>
                       </tr>
                       <tr>
                           <td><strike><b>Regular price</b> (next 10 registered)</strike></td>
                           <td>£60</td><td>£30</td>
                       </tr>
                       <tr>
                           <td><b>Late registration price</b></td>
                           <td>£60</td><td>£35</td>
                       </tr>
                       </tbody>
                   </table>
               </small>
           </div>
       </div>

       <div class="card my-3">
           <div class="card-header"><h5>Dress code</h5></div>
           <div class="card-text">
               <small>
               <ul class="list-group">
                   <li class="list-group-item">Comfortable clothes</li>
                   <li class="list-group-item">Your favourite dancing shoes</li>
                   <li class="list-group-item">Please bring set of spare t-shirts</li>
               </ul>
               </small>
           </div>
       </div>

       <p>For more information and updates please see <a href="https://www.facebook.com/events/145011789463465" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i> Salty Recipes - St.Louis Shag with Simona & Rokas</a>. </p>

    </div>
</section>

       <!--<div class="sticky-top">AAAA</div>-->

     <form class="form form-vertical" method="post" role="form">
           <div id="form_fields">

               <div class="container-fluid">
                   <div class="container my-4">
                        <div class="card mb-3">
                            <div class="card-body">
                                <h4 class="card-title">Summary</h4>
                                <div id="order_summary"></div>
                                <div class="form-group form-vertical">
                                    <button type="button" id="checkout" class="btn btn-lg btn-responsive btn-success form-control" disabled>
                                        <i class="fa fa-credit-card fa-fw" aria-hidden="true"></i>
                                        <span id="checkout_text">Sign up and pay</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                   </div>
               </div>

               <div class="container-fluid">
                   <div class="container">
                       <table class="table table-bordered">
                           <tbody>
                           <tr>
                               <td>
                               </td>
                               <td class="table-success">
                                   <div class="container">
                                    <h5 class="t-title-8 p-b-8">Rockabilly Bopper Shag</h5>
                                   <span class="badge badge-pill badge-info">C/Shag</span><br>
                                    <!--<i class="fa fa-clock-o" aria-hidden="true"></i><small class="m-b-5">5:30pm-6:35pm</small>-->
                                    <small class="text-muted"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i> 5:30pm-6:35pm</small><br>
                                    <small class="text-muted"><i class="fa fa-id-badge fa-fw" aria-hidden="true"></i> Peter & Aila</small><br>
                                    <small class="text-muted"><i class="fa fa-ticket fa-fw" aria-hidden="true"></i> plenty</small><br>
                                    <div class="btn-group" data-toggle="buttons">
                                      <!--<button type="button" class="btn btn-sm btn-outline-success">Follow</button>-->
                                      <!--<button type="button" class="btn btn-sm btn-outline-warning">Lead</button>-->
                                      <!--<button type="button" class="btn btn-sm btn-outline-success">Couple</button>-->
                                                <button class="btn btn-outline-success form-control btn-responsive ">
                                                    <input type="radio" value="lead" onclick="console.log($('this').button('toggle'))">Lead
                                                </button>
                                                <button class="btn btn-outline-warning form-control btn-responsive ">
                                                    <input type="radio" value="follow">Follow
                                                </button>
                                                <button class="btn btn-outline-success form-control btn-responsive " disabled>
                                                    <input type="radio" value="couple">Couple
                                                </button>
                                                <button class="btn btn-outline-secondary form-control btn-responsive radio-none">
                                                    <input type="radio" value=""><i class="fa fa-times" aria-hidden="true"></i>
                                                </button>
                                    </div>
                                       </div>
                               </td>
                               <td>
                                    <h5 class="t-title-8 p-b-8">Momentum Madness</h5>
                                    <p class="m-b-5">5:30pm-6:35pm</p>
                                    <p class="m-b-5">Alexander Harrison</p>
                               </td>
                           </tr>
                           <tr>
                               <td>
                                    <h5 class="t-title-8 p-b-8">Shag Roots</h5>
                                    <p class="m-b-5">5:30pm-6:35pm</p>
                                    <p class="m-b-5">Alexander Harrison</p>
                               </td>
                               <td>
                                    <h5 class="t-title-8 p-b-8">Body Balance</h5>
                                    <p class="m-b-5">5:30pm-6:35pm</p>
                                    <p class="m-b-5">Alexander Harrison</p>
                               </td>
                               <td>
                                    <h5 class="t-title-8 p-b-8">Body Balance</h5>
                                    <p class="m-b-5">5:30pm-6:35pm</p>
                                    <p class="m-b-5">Alexander Harrison</p>
                               </td>
                           </tr>
                           </tbody>
                       </table>
                   </div>
               </div>





               <div class="container-fluid">
                   <div class="container">
                       <h2> Your details</h2>
              <input id="stripe_token" name="stripe_token" type="hidden" value="">
<input id="csrf_token" name="csrf_token" type="hidden" value="IjBjOGM0NzBlZGQyZTQ0MTIzZTcyMzE2ZDFmOTVjNDlhNmM3OTgwZjgi.DQDH4Q.A1j5Ue3Sx2lB8zdFFUFtQKITHFE">


              <input id="stripe_token" name="stripe_token" type="hidden" value="">

<div  class="form-group" id="name-form-group">
  <label class="sr-only" for="name">Your name</label>
  <div class="input-group">
    <div class="input-group-addon">
        <i class="fa fa-user fa-fw" aria-hidden="true"></i>
    </div>
    <input class="form-control" id="name" name="name" placeholder="Your name" type="text" value="">
</div>
</div>


<div  class="form-group" id="email-form-group">
    <label class="sr-only" for="email">Email</label>
    <div class="input-group">
        <div class="input-group-addon">
            <i class="fa fa-envelope fa-fw" aria-hidden="true"></i>
        </div>
        <input class="form-control" id="email" name="email" placeholder="Email" type="text" value="">
    </div>
</div>

                       <h3> Your partner details</h3>
                       <small>(*If you are buying tickets for yourself and for your partner)</small>

<div  class="form-group" id="partner_name-form-group">
  <label class="sr-only" for="partner_name">Partner&#39;s name</label>
  <div class="input-group">
    <div class="input-group-addon">
        <i class="fa fa-user fa-fw" aria-hidden="true"></i>
    </div>
    <input class="form-control" id="partner_name" name="partner_name" placeholder="Partner&#x27;s name" type="text" value="">
</div>
</div>


<div  class="form-group" id="partner_email-form-group">
    <label class="sr-only" for="partner_email">Partner&#39;s email</label>
    <div class="input-group">
        <div class="input-group-addon">
            <i class="fa fa-envelope fa-fw" aria-hidden="true"></i>
        </div>
        <input class="form-control" id="partner_email" name="partner_email" placeholder="Partner&#x27;s email" type="text" value="">
    </div>
</div>







<div class="form-group "><label class="control-label" for="comment">Comment</label>

          <textarea class="form-control" id="comment" name="comment"></textarea>

  </div>


                       </div>
               </div>

                <div class="container-fluid">
                    <div class="container my-4">
                        <!--<h2> Select a Reward</h2>-->
                        <!--<div class="card-columns">-->


<div class="card card-default">


<div class="card-block">
    <h4 class="card-title">Potato Pancakes - The Starter</h4>
    <p>
        <small class="text-muted"><i class="fa fa-calendar fa-fw" aria-hidden="true"></i> 26-November-2017</small><br>
        <small class="text-muted"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i> 11:00 till 13:15, workshop time: 2h</small><br>
        <small class="text-muted"><i class="fa fa-map-marker fa-fw" aria-hidden="true"></i> Studio 2, Clean Break, 2 Patshull Road, London, NW5 2LB</small><br>
        <small class="text-muted"><i class="fa fa-thermometer fa-fw" aria-hidden="true"></i> Improvers/Intermediate swing dancers, little or no St.Louis Shag experience</small><br>
        <small class="text-muted"><i class="fa fa-money fa-fw" aria-hidden="true"></i> First 15 - £25 per person, next 10 - £30, then £35</small><br>
        <small class="text-muted"><i class="fa fa-ticket fa-fw" aria-hidden="true"></i>


            <strong class="text-danger">Just 4 tickets left!</strong>





</small><br>
        <small>





        <span class="badge badge badge-success">Leader</span>







        <span class="badge badge badge-success">Follower</span>






        </small>
    </p>
    <p class="card-text"><small class="text-muted">Potatoes are truly king when it comes to Lithuanian food, as Simona &amp; Rokas are the Royals in St. Louis Shag around Europe. This class will revise the basics and move on to a more complicated material. This is a perfect way to start your meal that will make you fall in love with St. Louis Shag, just like everyone loves potatoes! </small></p>
    <div class="form-group">Your role<select class="form-control" id="potato_pancakes_the_starter-dance_role" name="potato_pancakes_the_starter-dance_role"><option value="follower">Follower</option><option value="leader">Leader</option></select></div>

    <div class="form-group" id="potato_pancakes_the_starter-partner_token-form-group">
        <label class="form-control-label" for="potato_pancakes_the_starter-partner_token">Partner&#39;s registration token</label>
        <input class="form-control" id="potato_pancakes_the_starter-partner_token" name="potato_pancakes_the_starter-partner_token" type="text" value="">
        <div class="form-control-feedback" id="potato_pancakes_the_starter-partner_token-feedback"></div>
        <small class="form-text text-muted">If your partner has already registered.</small>
    </div>

    <div class="btn-group" data-toggle="buttons">
        <button class="btn btn-outline-success form-control btn-responsive ">
            <input id="potato_pancakes_the_starter-add" name="potato_pancakes_the_starter-add" type="checkbox" value="y"> Book for yourself
        </button>
        <button class="btn btn-outline-success form-control btn-responsive">
            <input id="potato_pancakes_the_starter-add_partner" name="potato_pancakes_the_starter-add_partner" type="checkbox" value="y"> Book for partner
        </button>
    </div>
</div>



</div>


<div class="card card-default">


<div class="card-block">
    <h4 class="card-title">Zeppelins - Hot Adventures</h4>
    <p>
        <small class="text-muted"><i class="fa fa-calendar fa-fw" aria-hidden="true"></i> 26-November-2017</small><br>
        <small class="text-muted"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i> 14:00 till 16:15, workshop time: 2h</small><br>
        <small class="text-muted"><i class="fa fa-map-marker fa-fw" aria-hidden="true"></i> Studio 2, Clean Break, 2 Patshull Road, London, NW5 2LB</small><br>
        <small class="text-muted"><i class="fa fa-thermometer fa-fw" aria-hidden="true"></i> Improvers/Intermediate St.Louis Shag dancers</small><br>
        <small class="text-muted"><i class="fa fa-money fa-fw" aria-hidden="true"></i> First 15 - £25 per person, next 10 - £30, then £35</small><br>
        <small class="text-muted"><i class="fa fa-ticket fa-fw" aria-hidden="true"></i>


            <strong class="text-danger">Just 3 tickets left!</strong>





</small><br>
        <small>





        <span class="badge badge badge-success">Leader</span>







        <span class="badge badge badge-success">Follower</span>






        </small>
    </p>
    <p class="card-text"><small class="text-muted">Lithuania&#39;s famous cepelinai are large dumplings with resemblance to zeppelin airships. These crazy Lithuanians are flying to London to share their advanced moves and secrets that will make you fly away to the moon! </small></p>
    <div class="form-group">Your role<select class="form-control" id="zeppelins_hot_adventures-dance_role" name="zeppelins_hot_adventures-dance_role"><option value="follower">Follower</option><option value="leader">Leader</option></select></div>

    <div class="form-group" id="zeppelins_hot_adventures-partner_token-form-group">
        <label class="form-control-label" for="zeppelins_hot_adventures-partner_token">Partner&#39;s registration token</label>
        <input class="form-control" id="zeppelins_hot_adventures-partner_token" name="zeppelins_hot_adventures-partner_token" type="text" value="">
        <div class="form-control-feedback" id="zeppelins_hot_adventures-partner_token-feedback"></div>
        <small class="form-text text-muted">If your partner has already registered.</small>
    </div>

    <div class="btn-group" data-toggle="buttons">
        <button class="btn btn-outline-success form-control btn-responsive ">
            <input id="zeppelins_hot_adventures-add" name="zeppelins_hot_adventures-add" type="checkbox" value="y"> Book for yourself
        </button>
        <button class="btn btn-outline-success form-control btn-responsive">
            <input id="zeppelins_hot_adventures-add_partner" name="zeppelins_hot_adventures-add_partner" type="checkbox" value="y"> Book for partner
        </button>
    </div>
</div>



</div>

                        <!--</div>-->
                    </div>

               </div>

           </div>
        </form>


<section class="container-fluid">
    <div class="container text-muted">
        <h4>Terms and Conditions</h4>
        <ol>
            <li>We, Salty Jitterbugs Limited,
                are receiving money from you to cover the organisational expenses within the following event: Salty Recipes with Simona &amp; Rokas.</li>

            <li>We are not making any profit for ourselves. All of the received money will be spent to cover the weekend expenses.</li>

            <li>Unless your registration is in the waiting list, your payment guarantees you the place in the
                selected workshop/party with the selected dance role.</li>
        </ol>
   </div>
</section>


<nav class="navbar bottom navbar-light bg-faded my-4">
    <div class="container">
        <p><small class="text-muted">For any info send a message to <a href="https://www.facebook.com/SaltyJitterbugs" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i> Salty Jitterbugs</a></small></p>
        <!--<p><small class="text-muted">Implemented by <a href="https://www.facebook.com/alexander.vinokurov.75" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i> Alexander Vinokurov</a></small></p>-->
        <p><small class="text-muted">Implemented by Alexander Vinokurov</small></p>
    </div>
</nav>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
    <!--&lt;!&ndash;<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>&ndash;&gt;-->
    <!--<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>-->
  <script>
$('.radio-none').click(function(e){
    console.log($(this));
    //$(this).removeClass("active");
    e.preventDefault();
});
  </script>
  </body>
</html>