{% import "bootstrap/wtf.html" as wtf %}
{% import "slt.html" as slt %}

{%- extends "bootstrap/base.html" %}

{% block scripts %}
{# {{ super() }} #}

    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
    <!--<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>-->

{%- endblock %}


{% block styles %}
{# {{ super() }} #}
    <!-- Bootstrap -->
    <!--<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">
<style>
.small-text {
  font-size: 12px;
}
</style>
{%- endblock %}

{% block content %}
<div class="container">
<div class="container-fluid small-text">
    <p>Dear, {{ order_summary_controller._order.registration.name }}</p>
    <p>Thank you for your interest in the {{order_summary_controller._order.event.name}}!</p>
    {% if order_summary_controller.has_waiting_list %}
    <p>With pain in our heart we regret to inform you that due to the imbalance between leads and followers
        we need to put you on the waiting list for the moment for some of the workshops.</p>
    <p>We aim to have you get the most out of the workshops and therefore we have to keep a healthy balance in the classes.</p>
    <p>As you have already done the payment we will take you off the waiting list as soon as there is a free place.
        If we don't manage to find you a place, we will refund you.
        Alternatively you can cancel you registration any time and get refunded.</p>
    <p>Also you can get off the waiting list if you find a partner.
        For this purpose, you should ask your partner to specify your registration token.</p>

    <p>Please accept our apologies for any inconvenience this may cause for the moment.</p>
    {% else %}
    <p>We would like to confirm your place in the workshops! Looking forward to see you soon!</p>
    {% endif %}
</div>
<div class="container-fluid small-text">
    <h5>Order Summary</h5>
        <table class="table">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Token</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for product in order_summary_controller.order_products %}
                {% if product.is_waiting %}
                <tr class="table-warning">
                    <td><strong>Waiting list</strong>: {{ product.name }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.token }}</td>
                    <td><a class="btn btn-warning btn-sm" href="{{product.cancel_url}}">Cancel</a></td>
                </tr>
                {% else %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.token }}</td>
                    <td></td>
                </tr>
                {% endif %}
            {% endfor %}
                <tr>
                    <td>Transaction fee</td>
                    <td>{{ order_summary_controller.transaction_fee }}</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>Total</th>
                    <th>{{ order_summary_controller.total_price }}</th>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
</div>
<div class="container-fluid small-text">
    Lots of love,<br>
    Salty Jitterbugs Team
</div>
</div>

{% endblock %}