{% import "bootstrap/wtf.html" as wtf %}
{% import "slt.html" as slt %}

{%- extends "bootstrap/base.html" %}

{% block scripts %}
{# {{ super() }} #}

    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
    <!--<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>-->

{%- endblock %}


{% block styles %}
{# {{ super() }} #}
    <!-- Bootstrap -->
    <!--<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">-->
    <link href="static/bootstrap.min.css" rel="stylesheet">
<style>
.small-text {
  font-size: 12px;
}
</style>
{%- endblock %}

{% block content %}
<div class="container">
<div class="container-fluid small-text">
    <p>Dear, {{ order_summary_controller._order.registration.name }}</p>
    <p>Thank you for your interest in the {{order_summary_controller._order.event.name}}!</p>
    {% if order_summary_controller.has_waiting_list %}
    <p>With pain in our heart we regret to inform you that due to the imbalance between leads and followers
        or lack of available places
        we need to put you on the waiting list for the moment for some of the workshops.</p>
    <p>We aim to have you get the most out of the workshops and therefore we have to keep a healthy balance in the classes.</p>
    <p>As you have already done the payment we will take you off the waiting list as soon as there is a free place.
        If we don't manage to find you a place, we will refund you.
        Alternatively you can cancel you registration any time and get refunded.</p>
    <p>Also you can get off the waiting list if you find a partner.
        For this purpose, you should ask your partner to specify your registration token.</p>

    <p>Please accept our apologies for any inconvenience this may cause for the moment.</p>
    {% else %}
    <p>We would like to confirm your place! Looking forward to see you soon!</p>
    {% endif %}

        <!--<div class="container container-fluid my-5">-->
        <div class="card mb-4">
            <div class="card-block">
                <small>
                <table class="table">
                    <tr>
                        <th><a href="{{ order_summary_controller.event.registration_url }}">{{order_summary_controller.event.name}}</a></th>
                    </tr>
                    <tr>
                        <td>{{ order_summary_controller._order.registration.name}}</td>
                    </tr>
                    <tr>
                        <td>{{ order_summary_controller._order.registration.email}}</td>
                    </tr>
                    <tr>
                        <td>{{ order_summary_controller.order_datetime}}</td>
                    </tr>
                    <tr>
                        <td><strong>Total price: {{ order_summary_controller.total_price | price }}</strong></td>
                    </tr>
                </table>
                    </small>
                <h6 class="card-subtitle">Paid: {{ order_summary_controller.total_paid | price }}</h6>
                <small class="text-muted">Transaction fee: {{ order_summary_controller.total_transaction_fee | price}}</small>
                {% if order_summary_controller.total_remaining_amount %}
                <br><small class="text-info">Remaining: {{ order_summary_controller.total_remaining_amount | price }}</small>
                {% endif %}
            </p>
            </div>
        </div>

        {% for order_product in order_summary_controller.order_products %}
        <div class="card mb-4{% if order_product.is_waiting %} card-outline-warning{% endif%}"{% if order_product.is_waiting %} style="background-color: #FFFFE0; "{% endif%}>
            <div class="card-block">
                <!--<h4 class="card-title"><span class="badge badge-default">{{ order_product.price }}</span> {{order_product.name}}</h4>-->
                <h5 class="card-title">{{order_product.name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ order_product.price | price }}</h6>
                {% if order_product.status=="Waiting" %}
                <span class="badge badge-warning">{{ order_product.status }}</span><br>
                <small class="text-muted"><i class="fa fa-exclamation-triangle fa-fw" aria-hidden="true"></i>{{ order_summary_controller.get_waiting_reason(order_product._order_product) }}</small>
                {% elif order_product.status=="Accepted" %}
                <span class="badge badge-success">{{ order_product.status }}</span>
                {% else %}
                <span class="badge badge-default">{{ order_product.status }}</span>
                {% endif %}
                <p class="card-text">
                    {% if order_product.product_type in ('RegularPartnerWorkshop', 'CouplesOnlyWorkshop') %}
                    <small class="text-muted"><i class="fa fa-calendar fa-fw" aria-hidden="true"></i> {{ order_product._order_product.product.parameters_as_dict['workshop_date'] }}</small><br>
                    <small class="text-muted"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i> {{ order_product._order_product.product.parameters_as_dict['workshop_time'] }}</small><br>
                    <small class="text-muted"><i class="fa fa-map-marker fa-fw" aria-hidden="true"></i> {{ order_product._order_product.product.parameters_as_dict['workshop_location'] }}</small><br>
                    {% elif order_product.product_type in ('StrictlyContest') %}
                    <small class="text-muted"><i class="fa fa-calendar fa-fw" aria-hidden="true"></i> {{ order_product._order_product.product.parameters_as_dict['contest_date'] }}</small><br>
                    <small class="text-muted"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i> {{ order_product._order_product.product.parameters_as_dict['contest_time'] }}</small><br>
                    <small class="text-muted"><i class="fa fa-sitemap fa-fw" aria-hidden="true"></i> {{ order_product._order_product.product.parameters_as_dict['contest_format'] }}</small><br>
                    <small class="text-muted"><i class="fa fa-thermometer fa-fw" aria-hidden="true"></i> {{ order_product._order_product.product.parameters_as_dict['contest_level'] }}</small><br>
                    <small class="text-muted"><i class="fa fa-trophy fa-fw" aria-hidden="true"></i> {{ order_product._order_product.product.parameters_as_dict['contest_prize'] }}</small><br>
                    <small class="text-muted"><i class="fa fa-map-marker fa-fw" aria-hidden="true"></i> {{ order_product._order_product.product.parameters_as_dict['contest_location'] }}</small><br>
                    {% endif %}
                    <small class="text-muted"> {{ order_product._order_product.product.info }}</small><br>
                    <small>{{ message(order_product.partner_info) }}</small>
                </p>
                <h6 class="card-subtitle">Paid: {{ order_product.total_paid | price}}</h6>
                <!--Price: {{ order_product.price }} <br>-->

                {% if order_product.total_remaining > 0 %}
                <small class="text-info">Remaining: {{ order_product.total_remaining | price }}</small>
                {% endif %}
            </div>
        </div>
        {% endfor %}

        {% if order_summary_controller.invite_partner_url %}
        <div class="card"  style="background-color: #F0FFFF; "><div class="card-block">
            <h5 class="card-title">Invite your partner</h5>
            <p class="card-text">Send this link to your partner: {{ order_summary_controller.invite_partner_url }}</p>
        </div> </div>
        {% endif %}
        <!--<p>Link to invite your partner for for the selected items: <span id="partner_link"></span></p>-->
        <!--<p><a href="{{ order_summary_controller.event.registration_url }}"> To the event page</a></p>-->

        <div class="card"><div class="card-block">
            Please use this link to see and manage your order: <a href="{{order_summary_controller.order_status_url}}">{{ order_summary_controller.order_status_url }}</a>
        </div> </div>
    </div>

<div class="container-fluid small-text">
    Lots of love,<br>
    Salty Jitterbugs Team
</div>
</div>

{% endblock %}

{% macro message(message_controller) %}
    {% if message_controller is iterable and var is not string %}
        {% for m in message_controller %}
            <div>{{ message(m) }}</div>
        {% endfor %}
    {% else %}
        {% if message_controller.bs_class %}
            <div class="{{message_controller.bs_class}}">
                {{ message_controller.text }}
            </div>
        {% else %}
            {{ message_controller.text }}
        {% endif %}
    {% endif %}
{% endmacro %}
