{% import "bootstrap/wtf.html" as wtf %}
{% import "slt.html" as slt %}

{%- extends "bootstrap/base.html" %}

{% block scripts %}
{# {{ super() }} #}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>

{%- endblock %}


{% block styles %}
    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">

<style>
header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px
}
section {
    padding: 100px 0
}
</style>
{%- endblock %}

{% block content %}
<header>
    <div class="container">
        <div class="intro-text">
            <h4>You are going to cancel your participation in <a href="{{url_for('register_form', event_key=order_product_controller._order_product.order.event.event_key)}}">{{order_product_controller._order_product.order.event.name}}</a></h4>
        </div>
    </div>
</header>

<div class="container">
    <div class="container-fluid">
        <table class="table">
            <tr>
                <th>Your name</th>
                <td>{{ order_product_controller._order_product.registrations[0].name }}</td>
            </tr>
            <tr>
                <th>Registration</th>
                <td>{{ order_product_controller.name }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ order_product_controller.price }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{  order_product_controller.status }}</td>
            </tr>
        </table>

        <form class="form form-vertical" method="post" role="form">
           <div id="form_fields">
               {{ form.hidden_tag() }}
               {{ wtf.form_field(form.confirm) }}
               {{ wtf.form_field(form.comment) }}
               {{ wtf.form_field(form.submit, class='btn btn-danger') }}
               <p></p>
           </div>
        </form>
        <p><a href="{{url_for('register_form', event_key=order_product_controller._order_product.order.event.event_key)}}"> To the event page</a></p>

    </div>
</div>
{% endblock %}