<ul class="list-group">
    {% if order_summary_controller.show_order_summary %}
        {% for payment_item in order_summary_controller.payment_items %}
            {% if payment_item.product.is_waiting %}
                <li class="list-group-item list-group-item-warning"><small>
                    <strong>Waiting list</strong>: {{ payment_item.product.name }} - {{ payment_item.product.price | price }}: refundable deposit {{ payment_item.amount | price }}
                    <p><small class="text-muted">{{ order_summary_controller.get_waiting_reason(payment_item.product._order_product) }}</small></p>
                </small></li>
            {% else %}
                <li class="list-group-item"><small>
                    {{ payment_item.product.name }}: {{ payment_item.amount | price }}
                </small></li>
            {% endif %}
        {% endfor %}
        <li class="list-group-item"><small>Transaction fee: {{ order_summary_controller.transaction_fee | price }}</small></li>
    <li class="list-group-item"><strong>Total: {{ order_summary_controller.total_to_pay | price }}</strong></li>
    {% endif %}
</ul>
