<ul class="list-group">
    {% if order_summary_controller.show_order_summary %}
        {% for product in order_summary_controller.products %}
        <li class="list-group-item"><small>{{ product.name }}: £{{ product.price }}</small></li>
        {% endfor %}
        <li class="list-group-item"><small>Transaction fee: £{{ order_summary_controller.transaction_fee }}</small></li>
    <li class="list-group-item"><strong>Total: £{{ order_summary_controller.total_price }}</strong></li>
    {% endif %}
</ul>
