<p>We guarantee 100% refund only if your registration is in the waiting list. In other cases we will see what we can do.</p>
<p>Refunds are processed after we manually review your cancellation request.</p>
<p>The money are returned approximately <strong>5-10 business days</strong> later, depending on your bank.</p>
<p>Money can be refunded back only to the bank account you used for the registration.</p>
<p>If you had any discounts the refunded amount will be recalculated. For example, there are 2 workshops £30 each or £50 for both.
    If you signed up for both of workshops with the discounted price £50 and then cancelling one of them,
    the refunded amount will be £20.</p>
<p>Transaction fee is refunded as well. If case if you are cancelling part of your registration, the transaction fee is refunded partially.</p>