{% import "bootstrap/wtf.html" as wtf %}
{% import "slt.html" as slt %}

{%- extends "bootstrap/base.html" %}

{% block scripts %}
{# {{ super() }} #}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@1/dist/clipboard.min.js"></script>

    <script src="https://checkout.stripe.com/checkout.js"></script>


<script>
    $('body').on('change', '.custom-control-input', update_partner_link)
    $('body').ready(update_partner_link)
    new Clipboard('.btn-clipboard')

    function update_partner_link(e) {
        partner_link = '{{ order_summary_controller.event.registration_url }}';
        data = $('.custom-control-input').map(function () {
            if(this.checked)return this.value;
        }).get()
        if(data.length>0) {
            partner_link = partner_link + '?tokens='+data.join(',');
        }

        $('#partner_link').html('<a id="partner_link_a" href="'+partner_link+'">'+partner_link+'</a>');
    }

    function copy_partner_url() {
        console.log('test');
        $('#partner_link').select()
        document.execCommand("copy");
    }




    function pay_remaining(amount, order_product) {
        var handler = StripeCheckout.configure({
          key: '{{ config.STRIPE_PK }}',
          image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
          locale: 'auto',
          token: function(token) {
            // You can access the token ID with `token.id`.
            // Get the token ID to your server-side code for use.
            //console.log(token)
            // //$('#\{\{ form.stripe_token.id }}').val(token.id);
            // //$('form').submit()
          }
        });

        handler.open({
            name: 'Salty Jitterbugs Ltd.',
            description: '{{ order_summary_controller.event.name | safe}}',
            currency: 'gbp',
            amount: amount,
            email: '{{ order_summary_controller._order.registration.email}}',
            zipCode: true,
            billingAddress: true,
            allowRememberMe: false
        })
    }
</script>

{%- endblock %}


{% block styles %}
{# {{ super() }} #}
    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">

<style>

@media (max-width: 400px) {
  .btn-responsive {
    white-space: normal;
    font-size:75%;
  }
}
</style>
{%- endblock %}

{% block content %}
    <div class="container container-fluid my-5">
        <div class="card mb-4">
            <div class="card-block">
                {% if title %}
                <h4 class="display-4 card-title">
                {{ title }}
                </h4>
                {% endif %}
                <small>
                <table class="table">
                    <tr>
                        <th><a href="{{ order_summary_controller.event.registration_url }}">{{order_summary_controller.event.name}}</a></th>
                    </tr>
                    <tr>
                        <td>{{ order_summary_controller._order.registration.name}}</td>
                    </tr>
                    <tr>
                        <td>{{ order_summary_controller._order.registration.email}}</td>
                    </tr>
                    <tr>
                        <td>{{ order_summary_controller.order_datetime}}</td>
                    </tr>
                    <tr>
                        <td><strong>Total price: {{ order_summary_controller.total_price | price }}</strong></td>
                    </tr>
                </table>
                    </small>
            </div>
            <div class="card-footer">
                <strong>Paid: {{order_summary_controller.total_paid}}</strong><br>
                <small class="text-muted">Transaction fee: {{ order_summary_controller.total_transaction_fee | price }}</small>
                {% if order_summary_controller.total_remaining_amount %}
                <br><small class="text-info">Remaining: {{ order_summary_controller.total_remaining_amount | price }}</small>
                {% endif %}
            </div>
        </div>

        {% for order_product in order_summary_controller.order_products %}
        <div class="card mb-4{% if order_product.is_waiting %} card-outline-warning{% endif%}"{% if order_product.is_waiting %} style="background-color: #FFFFE0; "{% endif%}>
            <div class="card-block">
                <!--<h4 class="card-title"><span class="badge badge-default">{{ order_product.price }}</span> {{order_product.name}}</h4>-->
                <h4 class="card-title">{{order_product.name}}</h4>
                <h6 class="card-subtitle mb-2 text-muted">{{ order_product.price | price }}</h6>
                {% if order_product.status=="Waiting" %}
                <span class="badge badge-warning">{{ order_product.status }}</span><br>
                <small class="text-muted"><i class="fa fa-exclamation-triangle fa-fw" aria-hidden="true"></i>{{ order_summary_controller.get_waiting_reason(order_product._order_product) }}</small>
                {% elif order_product.status=="Accepted" %}
                <span class="badge badge-success">{{ order_product.status }}</span>
                {% else %}
                <span class="badge badge-default">{{ order_product.status }}</span>
                {% endif %}
                <p class="card-text">
                    {% if order_product.product_type in ('RegularPartnerWorkshop', 'CouplesOnlyWorkshop') %}
                    <small class="text-muted"><i class="fa fa-calendar fa-fw" aria-hidden="true"></i> {{ order_product._order_product.product.parameters_as_dict['workshop_date'] }}</small><br>
                    <small class="text-muted"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i> {{ order_product._order_product.product.parameters_as_dict['workshop_time'] }}</small><br>
                    <small class="text-muted"><i class="fa fa-map-marker fa-fw" aria-hidden="true"></i> {{ order_product._order_product.product.parameters_as_dict['workshop_location'] }}</small><br>
                    {% elif order_product.product_type in ('StrictlyContest') %}
                    <small class="text-muted"><i class="fa fa-calendar fa-fw" aria-hidden="true"></i> {{ order_product._order_product.product.parameters_as_dict['contest_date'] }}</small><br>
                    <small class="text-muted"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i> {{ order_product._order_product.product.parameters_as_dict['contest_time'] }}</small><br>
                    <small class="text-muted"><i class="fa fa-sitemap fa-fw" aria-hidden="true"></i> {{ order_product._order_product.product.parameters_as_dict['contest_format'] }}</small><br>
                    <small class="text-muted"><i class="fa fa-thermometer fa-fw" aria-hidden="true"></i> {{ order_product._order_product.product.parameters_as_dict['contest_level'] }}</small><br>
                    <small class="text-muted"><i class="fa fa-trophy fa-fw" aria-hidden="true"></i> {{ order_product._order_product.product.parameters_as_dict['contest_prize'] }}</small><br>
                    <small class="text-muted"><i class="fa fa-map-marker fa-fw" aria-hidden="true"></i> {{ order_product._order_product.product.parameters_as_dict['contest_location'] }}</small><br>
                    {% endif %}
                    <small class="text-muted"> {{ order_product._order_product.product.info }}</small><br>
                    {#<small>{{ message(order_product.partner_info) }}</small>#}
                </p>
                {#
                <p class="card-text">
                    {% if order_product.can_add_partner %}
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" value="{{order_product.token}}" checked>
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description text-primary">Select to invite partner</span>
                    </label>
                    {% else %}
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" disabled>
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">Select to invite partner</span>
                    </label>
                    {% endif %}
                </p>
                #}

                {% if order_product.is_waiting %}<a class="btn btn-danger btn-responsive" href="{{order_product.cancel_url}}">Cancel & refund</a>{% endif %}
                <!--{% if order_product.total_remaining > 0 %}<a class="btn btn-info btn-responsive" href="{{order_product.cancel_url}}">Pay remaining {{ order_product.total_remaining | price }}</a>{% endif %}-->
            </div>
            <div class="card-footer">
                <!--Price: {{ order_product.price }} <br>-->
                Paid: {{ order_product.total_paid | price}}
                {% if order_product.total_remaining > 0 %}
                <br><small class="text-info">Remaining: {{ order_product.total_remaining | price }}</small>
                {% endif %}
            </div>
        </div>
        {% endfor %}

        {% if order_summary_controller.invite_partner_url and None %}
        <div class="card"  style="background-color: #F0FFFF; "><div class="card-block">
            <h5 class="card-title">Invite your partner</h5>
            <p class="card-text">Select items and forward the link to your partner:</p>
            <p class="card-text"><small id="partner_link" ></small></p>
            <p class="card-text"><button class="btn btn-primary btn-sm btn-clipboard" data-clipboard-target="#partner_link"><i class="fa fa-clipboard fa-fw" aria-hidden="true"></i> Copy to clipboard</button></p>
        </div> </div>
        {% endif %}
        <!--<p>Link to invite your partner for for the selected items: <span id="partner_link"></span></p>-->
        <!--<p><a href="{{ order_summary_controller.event.registration_url }}"> To the event page</a></p>-->
    </div>
{% endblock %}

{% macro message(message_controller) %}
    {% if message_controller is iterable and var is not string %}
        {% for m in message_controller %}
            <div>{{ message(m) }}</div>
        {% endfor %}
    {% else %}
        {% if message_controller.message_type == 'token' and None %}
            <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-secondary btn-sm btn-clipboard hidden-sx-down" type="button" data-clipboard-target="#{{ message_controller.text }}"><i class="fa fa-clipboard fa-fw" aria-hidden="true"></i></button>
              </span>
                <input type="text" class="form-control form-control-sm" id="{{ message_controller.text }}" value="{{ message_controller.text }}" readonly style="min-width: 55px;font-family:monospace;">
            </div>
        {% else %}
            {% if message_controller.bs_class %}
                <div class="{{message_controller.bs_class}}">
                    {% if message_controller.icon %}
                        <i class="fa fa-{{message_controller.icon}} fa-fw" aria-hidden="true"></i>
                    {% endif %}
                        {{ message_controller.text }}
                </div>
            {% else %}
                    {% if message_controller.icon %}
                        <i class="fa fa-{{message_controller.icon}} fa-fw" aria-hidden="true"></i>
                    {% endif %}
                {{ message_controller.text }}
            {% endif %}
        {% endif %}
    {% endif %}
{% endmacro %}