{% import "bootstrap/wtf.html" as wtf %}
{% import "slt.html" as slt %}

{%- extends "bootstrap/base.html" %}

{% block scripts %}
{{ super() }}
{# <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> #}
{# <script src="/static/registration.js"></script> #}

<script type="text/javascript">
    $(document).ready(function() {

    $('#form_fields').on('click', function (e) {
        $('.collapse').collapse('hide');
    });

    $('button#get_total_price').on('click', function (e) {
        //$('div#order_summary').html('');
        //$('.collapse').collapse('hide');
        var url = "{{ url_for('total_price', event_key=event.event_key) }}"; // send the form data here.
        $.ajax({
            type: "POST",
            url: url,
            data: $('form').serialize(), // serializes the form's elements.
            success: function (data) {
                console.log(data);  // display the returned data in the console.
                //$('#stripe_checkout').data-amount = str(int(100*data.total_price));
                //$('div#total_price').text('Total price: £'+data.total_price);


                        $('div#order_summary').html(data.order_summary_html);
                        $('.collapse').collapse('show');
            }
        });
        e.preventDefault(); // block the traditional submission of the form.
    });
    // Inject our CSRF token into our AJAX request.
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", "{{ form.csrf_token._value() }}")
            }
        }
    })
});
</script>
{%- endblock %}


{% block content %}
   <div class="container">
      <div class="jumbotron">
        <h1>{{ event.name }}</h1>
      </div>
   <div class="col-md-12">
     {% if request.args.get('legacy') -%}
       {{wtf.quick_form(form, novalidate=True)}}
     {%- else -%}
       <form class="form form-vertical" method="post" role="form">
           <div id="form_fields">
          {{ form.hidden_tag() }}
          {{ wtf.form_errors(form) }}

          {{ wtf.form_field(form.name) }}
          {{ wtf.form_field(form.email) }}

           {% for product_key in form.product_keys %}
                {{ slt.render_workshop_form_field(form.get_product_by_key(product_key)) }}
           {% endfor %}

          {# {{ wtf.form_field(form.submit) }} #}
           </div>
           <button type="button" id="get_total_price" class="btn btn-primary" autocomplete="off">
              Check availability
           </button>
           <div class="panel panel-default">
               <div class="panel-heading">Order Summary </div>
           <div class="panel-body collapse">
               <div id="order_summary"></div>
           </div>
           </div>
        </form>
     {%- endif %}


           <small>Implemented by Alexander Vinokurov</small>


   </div>

{%- endblock %}
