{% import "bootstrap/wtf.html" as wtf %}
{% import "slt.html" as slt %}

{%- extends "bootstrap/base.html" %}

{% block scripts %}
{# {{ super() }} #}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

<script src="https://checkout.stripe.com/checkout.js"></script>


<script>

// Disable function
jQuery.fn.extend({
    disable: function(state) {
        return this.each(function() {
            this.disabled = state;
        });
    }
});

    // Close Checkout on page navigation:
    window.addEventListener('popstate', function() {
      handler.close();
    });

    var form_changed = false;
    var form_changed_element = 'form';

    //$('body').on('keyup change', '.form-control', function(e) {
    $('body').on('change', '.form-control', function(e) {
        form_changed = true;
        form_changed_element = '#'+e.target.id;
        setTimeout(update_total_price, 1000);
    });

    $('body').on('focusout', '.form-control', update_total_price)
    //$('body').on('click', '.form-control', update_total_price)

    function update_total_price(e) {
        if(form_changed) {
            form_changed = false;
            payment_ready_change_status(false);
            console.log('focusout');
            var url = "{{ url_for('register_checkout', event_key=event.event_key) }}"; // send the form data here.
            console.log($('form').serialize());
            $.ajax({
                type: "POST",
                url: url,
                data: $('form').serialize(), // serializes the form's elements.
                success: function (data) {
                    console.log(data);  // display the returned data in the console.
                    $('div#order_summary').html(data.order_summary_html);
                    //show_form_validation_errors(data.errors, data.validated_partner_tokens);
                    $('button.button-checkout').disable(data.disable_checkout);
                    console.log(data.order_summary_total)
                    if(data.order_summary_total) {
                        console.log('setting total', 'Total: '+data.order_summary_total)
                        $('a#order_summary_total').text('Total: '+data.order_summary_total);
                    } else {
                        $('a#order_summary_total').text('Total: £0.00');
                    }
                    if(data.signup_form_html) {
                        $('div#signup_form').html(data.signup_form_html);
                        $('form').change()
                    }
                }
            });
        }
    }

    function show_form_validation_errors(form_errors, form_success) {
        $('.has-danger').each(function() {
            $(this).removeClass('has-danger');
        })
        $('.is-invalid').each(function() {
            $(this).removeClass('is-invalid');
        })
        $('.invalid-feedback').each(function() {
            $(this).removeClass('invalid-feedback');
        })
        $('.form-control-feedback').each(function() {
            $(this).html('');
        })

        for(var form_field_id in form_errors)
        {
            // force reload page if CSFR token is expired
            if(form_field_id=='csrf_token'){window.location.reload();}

            console.log(form_field_id, form_errors[form_field_id]);
            $('#'+form_field_id+'-form-group').addClass('has-danger');
            $('#'+form_field_id).addClass('is-invalid');
            $('#'+form_field_id+'-feedback').addClass('invalid-feedback');
            $('#'+form_field_id+'-feedback').html(form_errors[form_field_id])
        }

        for(var form_field_id in form_success)
        {
            console.log(form_field_id, form_success[form_field_id]);
            $('#'+form_field_id+'-form-group').addClass('has-success');
            $('#'+form_field_id).addClass('form-control-success');
            $('#'+form_field_id+'-feedback').html(form_success[form_field_id])
        }
    }

    $('body').on('click', 'button.button-checkout', function(e) {
        if(!payment_ready) {
            var url = "{{ url_for('register_checkout', event_key=event.event_key, validate='validate') }}"; // send the form data here.
            $.ajax({
                type: "POST",
                url: url,
                data: $('form').serialize(), // serializes the form's elements.
                success: function (data) {

                    console.log(data);  // display the returned data in the console.
                    if(data.disable_checkout) {
                        $('div#order_summary').html(data.order_summary_html);
                        //show_form_validation_errors(data.errors, data.validated_partner_tokens);
                        $('button.button-checkout').disable(data.disable_checkout);
                    }else{
                        console.log('ready to pay');
                        if(data.stripe.amount) {
                            payment_ready_change_status(true);
                            payment_stripe_data = data.stripe;
                        } else {
                            $('form').submit()
                        }
                    }
                }
            });
        } else {
            var handler = StripeCheckout.configure({
              key: '{{ config.STRIPE_PK }}',
              image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
              locale: 'auto',
              token: function(token) {
                // You can access the token ID with `token.id`.
                // Get the token ID to your server-side code for use.
                //console.log(token)
                $('#{{ form.stripe_token.id }}').val(token.id);
                $('form').submit()
              }
            });

            handler.open({
                name: 'Salty Jitterbugs Ltd.',
                description: '{{ event.name | safe}}',
                currency: 'gbp',
                amount: payment_stripe_data.amount,
                email: payment_stripe_data.email,
                zipCode: true,
                billingAddress: true,
                allowRememberMe: false
            })
        }
        e.preventDefault(); // block the traditional submission of the form.
        document.activeElement.blur();
    });


    var payment_ready = false;
    var payment_stripe_data = 0;

    function payment_ready_change_status(status) {
        if(status) {
            payment_ready = true;
            $('.checkout-text').html('Sign up and pay');
        } else {
            payment_ready = false;
            $('.checkout-text').html('Checkout');
        }
    }

    function lookup_location(query, elem_id) {
        console.log(query);
        var url = 'https://nominatim.openstreetmap.org/search/' + encodeURI(query) +'?format=json';
        console.log(url);
        $.getJSON( url, function( data ) {
            if(data.length > 0) {
                var query_result = data[0]['display_name'];
                console.log('data', query_result);
                var url_rev = 'https://nominatim.openstreetmap.org/reverse?format=json&lat='+data[0]['lat']+'&lon='+data[0]['lon']+'&accept-language=en'
                $.getJSON( url_rev, function( data_rev ) {
                    console.log(data_rev);
                    var data_address = data_rev['address'];
                    var result = {'country': '', 'state': '', 'city':''};
                    result['country'] = data_address['country'];
                    if ('state' in data_address) { result['state'] = data_address['state'];}

                    if ('city' in data_address) { result['city'] = data_address['city'];}
                    else if ('town' in data_address) { result['city'] = data_address['town'];}
                    else if ('village' in data_address) { result['city'] = data_address['village'];}
                    else if ('county' in data_address) { result['city'] = data_address['county'];}

                    console.log(result);
                    //$('#'+result_elem).html(location_string(result));
                    update_location_fields(result, elem_id);
                });
            } else {
                //$('#'+result_elem).html('Location not found... ');
            }
        });
    }

    function update_location_fields(location_lookup_results, elem_id) {
        if ( elem_id == 'location_query' ) {
            $('[name=country]').val(location_lookup_results.country);
            $('[name=state]').val(location_lookup_results.state);
            $('[name=city]').val(location_lookup_results.city);
            form_changed = true;
            update_total_price();
        } else if (elem_id == 'partner_location_query' ) {
            $('[name=partner_country]').val(location_lookup_results.country);
            $('[name=partner_state]').val(location_lookup_results.state);
            $('[name=partner_city]').val(location_lookup_results.city);
            form_changed = true;
            update_total_price();
        }
    }

    function location_string(location_lookup_results) {
        var values = Object.keys(location_lookup_results).map(function(key){
            return location_lookup_results[key];
        });
        values = values.filter(function(n){ return n != '' });
         return values.join(', ');
    }

    $('body').on('focusout', '.location-search', function(e) {
        var input_id = e['target'].id;
        var query = document.getElementById(input_id).value;
        lookup_location(query, input_id);
    });


// http://stackoverflow.com/questions/3860351/relative-position-in-dom-of-elements-in-jquery
// What this does is .add() the additional element (or selector)
// (which jQuery keeps in document order) and then checks if it's the second of the two.

(function($) {
  $.fn.isBefore = function(elem) {
    if(typeof(elem) == "string") elem = $(elem);
    return this.add(elem).index(elem) > 0;
  }
})(jQuery)
</script>

{%- endblock %}


{% block styles %}
{# {{ super() }} #}
    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!--<link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.2/cosmo/bootstrap.min.css" rel="stylesheet" integrity="sha384-52tWTPZ1e5eK+C2aGPCgDjrEgVkKMO+0qDuRNj3tS2EugIrICHWqkGuLu442CP2S" crossorigin="anonymous">-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">-->
    <!--<link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.2/materia/bootstrap.min.css" rel="stylesheet" integrity="sha384-R+kYzDq5OFDdI+l7v1cirgERabnAjhsBDXv0qCEtj+6z2r8BO2glDZzj49QgdxEj" crossorigin="anonymous">-->
    <!--<link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.2/sandstone/bootstrap.min.css" rel="stylesheet" integrity="sha384-edd69ybiwhmqlbDyKzPlHgWOcJrJhTgKQx1B2gD2yZArS8Qn2oTOYg+9X2AZRNDr" crossorigin="anonymous">-->
    <!--<link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.2/sketchy/bootstrap.min.css" rel="stylesheet" integrity="sha384-9BaUahJwNez+jmowV4jSdSdZIlie6a+VnhBnuzVvBPdvUPC3dDLYIg31Tgw5UzLP" crossorigin="anonymous">-->
    <!--<link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.2/yeti/bootstrap.min.css" rel="stylesheet" integrity="sha384-02r837f/s1bBitm4EH65RIncWtMiZuhCgUp9H4txuXwrPXSwn+vQ5YF9KqryUe7z" crossorigin="anonymous">-->
    <!--<link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.2/lumen/bootstrap.min.css" rel="stylesheet" integrity="sha384-rGAkR2qts0FfeepPEwAKdA+KLiTct+OBJ7ukPPivL86aKZa39nuOS0Yj6Sy8ebLR" crossorigin="anonymous">-->
    <!--<link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.2/slate/bootstrap.min.css" rel="stylesheet" integrity="sha384-nu0Rfs+Ud66mJzSLRuWBCMvk17+i5WBRPdLmS2djwI7YXUHlBLBsc1dHdgPyLsFO" crossorigin="anonymous">-->
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.2/united/bootstrap.min.css" rel="stylesheet" integrity="sha384-lZV2BQHhlIeSX0KKlcV52T0RM5GEd+q4DbVOu45FyIjjgDGbbaHaVMkUMviDDeOU" crossorigin="anonymous">
<style>
.bg-grey {
    background-color: #f6f6f6;
}

.hide { display: none; }

header {
    background-image:url(/static/events/{{event.event_key}}/event_cover.jpg);
    background-repeat:no-repeat;
    background-attachment:scroll;
    background-position:center center;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
    -o-background-size:cover;
    text-align:center;
}
header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px
}

@media (max-width: 400px) {
  .btn-responsive {
    white-space: normal;
    font-size:75%;
  }
}
</style>
{% endblock %}


{% block content %}
   <!--<div class="container">-->
      <!--<div class="jumbotron">-->

{% block header_section %}
<header class="bg-dark">
    <div class="container">
      <div class="intro-text">
          <h3 class="display-5">10 July</h3>
          <h3 class="display-5">London</h3>
          <h2 class="display-4">{{ event.name }}</h2>
      </div>
    </div>
</header>
{% endblock %}
<header class="sticky-top bg-dark py-1 mb-1">
    <div class="container">
        <div class="row">
            <div class="col-3"><h3 class="display-5">
                <a href="#order_summary_container" id="order_summary_total" class="text-white">Total: £0</a>
            </h3></div>
            <div class="col">
                <button type="button" class="btn btn-dark btn-outline-light button-checkout" disabled>
                    <i class="fa fa-credit-card fa-fw" aria-hidden="true"></i>
                    <span class="checkout-text">Sign up and pay</span>
                </button>
            </div>
        </div>
    </div>
</header>

{% block info_section %}
{% endblock %}

<div id="signup_form">
{% block signup_form %}
{% include "signup_form.html" %}
{% endblock %}
</div>

               <div class="container-fluid" id="order_summary_container">
                   <div class="container my-4">
                        <div class="card card-default">
                            <div class="card-body">
                                <h4 class="card-title">Order Summary</h4>
                                <div id="order_summary"></div>
                                <div class="form-group form-vertical">
                                    <button type="button" class="btn btn-lg btn-responsive btn-success form-control button-checkout" disabled>
                                        <i class="fa fa-credit-card fa-fw" aria-hidden="true"></i>
                                        <span class="checkout-text">Sign up and pay</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                   </div>
               </div>


{% block terms_conditions %}
<section class="container-fluid">
    <div class="container text-muted">
        <h4>Terms and Conditions</h4>
        <ol>
            <li>We, Salty Jitterbugs Limited,
                are receiving money from you to cover the organisational expenses within the following event: {{ event.name }}.</li>

            <li>We are not making any profit for ourselves. All of the received money will be spent to cover the weekend expenses.</li>

            <li>Unless your registration is in the waiting list, your payment guarantees you the place in the
                selected workshop/party with the selected dance role.</li>
        </ol>

        <h5>Waiting lists</h5>
        <ol>
            <li>If any of the items in your order are marked as a "Waiting List", this means that your purchaase
                doesn't give you access to the workshop/party immediately. Instead you are put on the waiting list</li>
            <li>Waiting lists are applied when
                there are too many sign up requests from leaders or followers and the class becomes unbalanced,
                when the total capacity of the event is reached,
                or when event accepts only partner registrations. </li>
            <li>Once the balance gets back to normal or if someone cancels and there are more available places,
                we move registrations off the waiting lists to populate the available places.</li>
            <li>Waiting lists are processed automatically in the order of registration date and time.
                I.e. those who signed up earlier get off the waiting list first.</li>
            <li>Registrations in the waiting list have higher priority than the new sign ups.
                This means that if we get available places we will clear waiting lists as much as possible before
                allowing new sign ups to take the available places.</li>
            <li>Those who sign up with a partner don't get in the waiting list if there are available places in the event.</li>
            <li>If you are in the waiting list you can get off it if you find a partner.
                For this give your registration token to your partner.
                Note that your partner needs to be of an opposite role and you should be signing up for the same workshop.</li>
            <li>Once you get off the waiting list you will be notified by email.</li>
            <li><strong>Why do you need to pay even if you are in the waiting list?</strong>
                <ul>
                    <li>This allows us to process waiting lists automatically, in the most fair order
                        and without any delays caused by waiting for payments.</li>
                </ul>
            <li><strong>You can cancel your place in the waiting list any time and get refunded.</strong></li>
            <li><strong>If event starts and you didn't get off the waiting list, you will be refunded.</strong></li>
        </ol>

        <h5>Refunds</h5>
        <ol>
            <li>We guarantee 100% refund only if your registration is in the waiting list. In other cases we will see what we can do.</li>
            <li>Refunds are processed after we manually review your cancellation request.</li>
            <li>The money are returned approximately <strong>5-10 business days</strong> later, depending on your bank.</li>
            <li>Money can be refunded back only to the bank account you used for the registration.</li>
            <li>If you had any discounts and you are refunding your order partially the refunded amount will be recalculated.
                For example, there are 2 workshops £30 each or £50 for both.
                If you signed up for both of workshops with the discounted price £50 and then cancelling one of them,
                the refunded amount will be £20.</li>
            <li>Transaction fee is refunded as well. In case if you are cancelling part of your registration,
                the transaction fee is refunded partially.</li>
        </ol>

        <h5>Signing up with a partner</h5>
        <ol>
            <li>You can sign up with a partner by buying both tickets in one purchase.
                Use "Book for myself" and "Book for partner" buttons.</li>
            <li>Another way to sign up with a partner which allows you to pay separately
                is to use the registration token which is sent by email. </li>
            <ul>
                <li>first person registers without specifying partner,</li>
                <li>in the registration confirmation email he/she will receive tokens for every workshop in his/her order,</li>
                <li>second person copies token in the "Partner token" field</li>
            </ul>
            <li>Registration <strong>token expires after 24 hours</strong> if you are not in the waiting list.</li>
        </ol>
    </div>
</section>
{% endblock %}

<nav class="navbar bottom navbar-light bg-faded my-4">
    <div class="container">
        <p><small class="text-muted">For any info send a message to <a href="https://www.facebook.com/SaltyJitterbugs" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i> Salty Jitterbugs</a></small></p>
        <!--<p><small class="text-muted">Implemented by <a href="https://www.facebook.com/alexander.vinokurov.75" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i> Alexander Vinokurov</a></small></p>-->
        <p><small class="text-muted">Implemented by Alexander Vinokurov</small></p>
    </div>
</nav>

{%- endblock %}

{% block title %}
Salty Jitterbugs - {{event.name}}
{% if config.MODE_TESTING %}[TEST MODE]{% endif %}
{% endblock %}


{% block head %}
{{super()}}
    {% block og_meta %}
    <meta property="og:title" content="{{event.name}}">
    <meta property="og:image" content="{{ url_for('static', filename='events/{}/event_preview.jpg'.format(event.event_key), _external=True) }}">
    <meta property="og:url" content="{{ url_for('register_form', event_key=event.event_key, _external=True) }}">
    {% endblock %}
{% endblock %}

