{% import "bootstrap/wtf.html" as wtf %}

{% macro render_workshop_form_field(form_field) %}
<div class="card card-default">
{% if form_field.product_type == 'DonateProduct' %}
  {{ donate_product(form_field) }}
{% elif form_field.product_type == 'MarketingProduct' %}
  {{ marketing_product(form_field) }}
{% else %}
   <div class="card-body">
    {%- for subfield in form_field %}
      {% if not bootstrap_is_hidden_field(subfield) and subfield != form_field.add -%}
        {{ wtf.form_field(subfield,
                      form_type=form_type,
                      horizontal_columns=horizontal_columns,
                      button_map=button_map) }}
      {%- endif %}
    {%- endfor %}
    </div>
{% endif %}

</div>
{%- endmacro %}


{% macro donate_product(form_field) %}
{#
       <div class="card-heading">
           <h4>{{ form_field.product_name }}</h4>
       </div>
#}
    <div class="card-block">
        {{ money_text_field(form_field.amount) }}
    </div>
{% endmacro %}


{% macro marketing_product(form_field) %}
        {% set add_enabled = True %}
    <img class="card-img-top img-fluid" src="..." alt="Card image cap">
    <div class="card-block">
       <!--<div class="card-heading">-->
           <h4 class="card-title">{{ form_field.product_name }}</h4>
           <p class="card-text"><small class="text-muted">
               {% if form_field.available_quantity is defined %}
                    {% if form_field.available_quantity <= 0 %}
                        Sold out
                        {% set add_enabled = False %}
                    {% else %}
                        {% if form_field.available_quantity == 1 %} <i class="fa fa-fire text-danger" aria-hidden="true"></i> {% endif %}
                        Available: {{ form_field.available_quantity }}
                    {% endif %}
               {% endif %}
           </small></p>
       <!--</div>-->

    <!--<div class="card-block">-->
        <p class="card-text">{{ form_field.info }}</p>

<div  class="form-group">
    <div class="input-group">
        <div class="input-group-addon primary">ADD</div>
        {% if add_enabled %}
            {{ form_field.add(class='form-control') }}
        {% else %}
            {{ form_field.add(class='form-control', disabled=1) }}
        {% endif %}
        <div class="input-group-addon"> <b>Price: £{{ form_field.price }}</b></div>
    </div>
</div>


    </div>
{% endmacro %}


{% macro toggle_btn_checkbox(field) %}
<div class="btn-group" data-toggle="buttons">
        <label class="btn btn-default slt-toggle">
            {{ field(checked=False) }} {{ field.label.text }}
        </label>
</div>
{% endmacro %}


{% macro email_field(field) %}
<div  class="form-group">
    <label class="sr-only" for="{{field.id}}">Your email</label>
    <div class="input-group">
        <div class="input-group-addon">
            <i class="fa fa-envelope" aria-hidden="true"></i>
        </div>
        {{ field(class='form-control', placeholder="Email") }}
    </div>
</div>
{% endmacro %}


{% macro name_field(field) %}
<div  class="form-group">
  <label class="sr-only" for="{{field.id}}">Your name</label>
  <div class="input-group">
    <div class="input-group-addon">
        <i class="fa fa-user" aria-hidden="true"></i>
    </div>
    {{ field(class='form-control', placeholder="Name") }}
</div>
</div>
{% endmacro %}


{% macro money_text_field(field) %}
<div class="form-group">
    {{ field.label(class='sr-only') }}
    <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-gbp" aria-hidden="true"></i></div>
        <!--<input type="text" class="form-control" id="{{field.id}}" placeholder="{{ field.label.text }}">-->
        {{ field(placeholder=field.label.text,  class="form-control") }}
        <div class="input-group-addon">.00</div>
    </div>
</div>
{% endmacro %}


{% macro render_contributor(registration) %}
<div class="card card-default">
    <div class="card-block">
        {% if registration.crowdfunding_registration_properties.anonymous %}
        <h4>Anonymous</h4>
        {% else %}
        <h4>{{ registration.name }}</h4>
        {% endif %}
        <p>Contributed: £{{ registration.total_amount_ordered }}</p>
    </div>
    {% if registration.comment %}
    <div class="card-footer">
        {{ registration.comment }}
    </div>
    {% endif %}
</div>
{% endmacro %}