{% import "bootstrap/wtf.html" as wtf %}

{% macro render_workshop_form_field(form_field, event) %}
<div class="card card-default">
{% if form_field.product_type == 'DonateProduct' %}
  {{ donate_product(form_field) }}
{% elif form_field.product_type == 'MarketingProduct' %}
  {{ marketing_product(form_field, event) }}
{% elif form_field.product_type == 'CouplesOnlyWorkshopOld' %}
    {{ couples_only_workshop_old_product(form_field, event) }}
{% elif form_field.product_type in ('RegularPartnerWorkshop', 'CouplesOnlyWorkshop') %}
    {{ regular_partner_workshop_product(form_field, event) }}
{% else %}
   <div class="card-body">
    {%- for subfield in form_field %}
      {% if not bootstrap_is_hidden_field(subfield) and subfield != form_field.add -%}
        {{ wtf.form_field(subfield,
                      form_type=form_type,
                      horizontal_columns=horizontal_columns,
                      button_map=button_map) }}
      {%- endif %}
    {%- endfor %}
    </div>
{% endif %}

</div>
{%- endmacro %}


{% macro donate_product(form_field) %}
{#
       <div class="card-heading">
           <h4>{{ form_field.product_name }}</h4>
       </div>
#}
    <div class="card-block">
        {{ money_text_field(form_field.amount) }}
    </div>
{% endmacro %}


{% macro marketing_product(form_field, event) %}
        {% set add_enabled = True %}
    <img class="card-img-top img-fluid" src="/static/events/{{event.event_key}}/{{form_field.img_src}}" alt="Card image cap">
    <div class="card-block">
       <!--<div class="card-heading">-->
        <h4 class="card-title"><div class="badge badge-success">£{{ '{:.1f}'.format(form_field.price) }}</div></h4>
        <h6 class="card-subtitle  mb-2"><a href="#{{ '{}-info'.format(form_field.id) }}" data-toggle="collapse">{{ form_field.product_name }}</a></h6>
           <p class="card-text"><small class="text-muted">
               {% if form_field.available_quantity is defined %}
                    {% if form_field.available_quantity <= 0 %}
                        Sold out
                        {% set add_enabled = False %}
                    {% else %}
                        {% if form_field.available_quantity == 1 %} <i class="fa fa-fire text-danger" aria-hidden="true"></i> {% endif %}
                        Available: {{ form_field.available_quantity }}
                    {% endif %}
               {% endif %}
           </small></p>
       <!--</div>-->

    <!--<div class="card-block">-->
        <p class="card-text"><small><a href="#{{ '{}-info'.format(form_field.id) }}" data-toggle="collapse">Details</a></small></p class="card-text">
        <p class="card-text collapse" id="{{ '{}-info'.format(form_field.id) }}"><small>{{ form_field.info | safe}}</small></p>

<div  class="form-group">
    <div class="input-group">
        <div class="input-group-addon primary">ADD</div>
        {% if add_enabled %}
            {{ form_field.add(class='form-control') }}
        {% else %}
            {{ form_field.add(class='form-control', disabled=1) }}
        {% endif %}
        <div class="input-group-addon">£{{ form_field.price }}</div>
    </div>
</div>


    </div>
{% endmacro %}


{% macro toggle_btn_checkbox(field) %}
<div class="btn-group" data-toggle="buttons">
        <button class="btn btn-outline-success form-control slt-toggle">
            {{ field(checked=False) }} {{ field.label.text }}
        </button>
</div>
{% endmacro %}


{% macro email_field(field) %}
<div  class="form-group" id="{{field.id}}-form-group">
    <label class="sr-only" for="{{field.id}}">{{ field.label.text }}</label>
    <div class="input-group">
        <div class="input-group-addon">
            <i class="fa fa-envelope fa-fw" aria-hidden="true"></i>
        </div>
        {{ field(class='form-control', placeholder=field.label.text) }}
    </div>
</div>
{% endmacro %}


{% macro name_field(field) %}
<div  class="form-group" id="{{field.id}}-form-group">
  <label class="sr-only" for="{{field.id}}">{{ field.label.text }}</label>
  <div class="input-group">
    <div class="input-group-addon">
        <i class="fa fa-user fa-fw" aria-hidden="true"></i>
    </div>
    {{ field(class='form-control', placeholder=field.label.text) }}
</div>
</div>
{% endmacro %}


{% macro money_text_field(field) %}
<div class="form-group">
    {{ field.label(class='sr-only') }}
    <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-gbp fa-fw" aria-hidden="true"></i></div>
        <!--<input type="text" class="form-control" id="{{field.id}}" placeholder="{{ field.label.text }}">-->
        {{ field(placeholder=field.label.text,  class="form-control") }}
        <div class="input-group-addon">.00</div>
    </div>
</div>
{% endmacro %}


{% macro render_contributor(registration) %}
<div class="card card-default">
    <div class="card-block">
        {% if registration.crowdfunding_registration_properties.anonymous %}
        <h4>Anonymous <div class="badge badge-success">£{{ registration.total_amount_ordered }}</div></h4>
        {% else %}
        <h4>{{ registration.name }} <div class="badge badge-success">£{{ '{:.1f}'.format(registration.order.total_price) }}</div></h4>
        {% endif %}
        {% if registration.comment %}
            <p class="card-text">
                {{ registration.comment }}
            </p>
        {% endif %}
    </div>
</div>
{% endmacro %}


{% macro couples_only_workshop_old_product(form_field, event) %}
<div class="card-block">
    <h4 class="card-title">{{ form_field.product_name }}</h4>
    <p>
        <small class="text-muted"><i class="fa fa-calendar fa-fw" aria-hidden="true"></i> {{ form_field.workshop_date }}</small><br>
        <small class="text-muted"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i> {{ form_field.workshop_time }}</small><br>
        <small class="text-muted"><i class="fa fa-thermometer fa-fw" aria-hidden="true"></i> {{ form_field.workshop_level }}</small><br>
        <small class="text-muted"><i class="fa fa-money fa-fw" aria-hidden="true"></i> {{ form_field.workshop_price }}</small><br>
        <small>{{ availability_badge('Couple', form_field.waiting_list) }}</small>
    </p>
    <p class="card-text"><small class="text-muted">{{ form_field.info }} </small></p>
    <div class="btn-group" data-toggle="buttons">
        <button class="btn btn-outline-success form-control">
            {{ form_field.add(checked=False) }} {{ form_field.add.label.text }}
        </button>
    </div>
</div>
{% endmacro %}


{% macro regular_partner_workshop_product(form_field, event) %}
<div class="card-block">
    <h4 class="card-title">{{ form_field.product_name }}</h4>
    <p>
        <small class="text-muted"><i class="fa fa-calendar fa-fw" aria-hidden="true"></i> {{ form_field.workshop_date }}</small><br>
        <small class="text-muted"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i> {{ form_field.workshop_time }}</small><br>
        <small class="text-muted"><i class="fa fa-thermometer fa-fw" aria-hidden="true"></i> {{ form_field.workshop_level }}</small><br>
        <small class="text-muted"><i class="fa fa-money fa-fw" aria-hidden="true"></i> {{ form_field.workshop_price }}</small><br>
        <small>
            {% if form_field.product_type == 'RegularPartnerWorkshop' %}
                {{ partner_workshop_availability(form_field.waiting_lists) }}
            {% elif form_field.product_type == 'CouplesOnlyWorkshop' %}
                {{ availability_badge('Leader with partner', form_field.waiting_lists) }}
                {{ availability_badge('Follower with partner', form_field.waiting_lists) }}
            {% endif %}
        </small>
    </p>
    <p class="card-text"><small class="text-muted">{{ form_field.info }} </small></p>
    <div class="form-group">{{ form_field.dance_role.label.text }}{{ form_field.dance_role(class='form-control') }}</div>
    {{ partner_token_field(form_field.partner_token) }}
    <div class="btn-group" data-toggle="buttons">
        <button class="btn btn-outline-success form-control">
            {{ form_field.add(checked=False) }} {{ form_field.add.label.text }}
        </button>
        <button class="btn btn-outline-success form-control">
            {{ form_field.add_partner(checked=False) }} {{ form_field.add_partner.label.text }}
        </button>
    </div>
</div>
{% endmacro %}

{% macro partner_workshop_availability(waiting_lists) %}
    {{ availability_badge('Leader', waiting_lists[0]['leader']) }}
    {{ availability_badge('Follower', waiting_lists[0]['follower']) }}
    {{ availability_badge('Leader with partner', waiting_lists[1]['leader']) }}
    {{ availability_badge('Follower with partner', waiting_lists[1]['follower']) }}
{% endmacro %}



{% macro availability_badge(text, wait) %}
    {% if wait == 0 %}
        <span class="badge badge badge-success">{{ text }}</span>
    {% else %}
        <span class="badge badge badge-warning">{{ text }} (waiting list{%if wait>1 %}: {{ wait-1 }}{%endif%})</span>
    {% endif %}
{% endmacro %}


{% macro partner_token_field(token_field) %}
    <div class="form-group" id="{{token_field.id}}-form-group">
        <label class="form-control-label" for="{{token_field.id}}">{{ token_field.label.text }}</label>
        {{token_field(class='form-control') }}
        <div class="form-control-feedback" id="{{token_field.id}}-feedback"></div>
        <small class="form-text text-muted">If your partner has already registered.</small>
    </div>
{% endmacro %}