{% extends "crowdfunding.html" %}

{% block info_section %}
<div class="container-fluid mb-4">
<div class="container">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="//www.youtube.com/embed/_r9yg1Jr76A" allowfullscreen></iframe>
    </div>
   </div>
</div>


<div class="container-fluid mb-4">
<div class="container">
    <!-- Nav tabs -->
    <div class="card">
        <div class="card-header">

            <ul class="nav nav-tabs card-header-tabs" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#english" role="tab">English</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#italian" role="tab">Italian</a>
              </li>
            </ul>
        </div>
    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active card-block" id="english" role="tabpanel">
            <p>Simona De Leo is an Italian now based in London.</p>

            <p>Starting with painting and decoration she then moved to the art of illustration and graphic design. Graduated in 2014,
                with a 1 st BA degree in Comics and Illustration at the Academy of Fine Arts of Bologna, Italy.
                After three years in London where she also had her first solo exhibition in February 2017, part of the
                White Chapel First Thursday Program, she is now going towards her next step.</p>

            <p> In September she will start a Master in Illustration at Kingston University, London which has a cost of £8.000.</p>

            <p>Through this crowdfunding campaign you will have the opportunity to get very original pieces of art or services in
                exchange of your contribution which will enormously help Simona in facing the Master’s expenses.
                Together with Simona’s offers you can get also others from Simona’s friends who have warmly offered their help
                and availability.</p>

            <p>You can also just donate an amount of your choice. Every little help will make a difference!</p>

            <p>Thank you!</p>
      </div>
      <div class="tab-pane card-block" id="italian" role="tabpanel">
          <p>Simona De Leo è un artista di origini Tarantine ora trasferitasi a Londra.</p>

          <p>Iniziando con studi di pittira e decorazione, ha poi proseguito intraprendendo l’arte dell’
              illustrazione e graphic design.
              Nel 2014 ottiene con il massimo dei voti una laurea in Fumetto e Illustrazione all’Accademia di Belle Arti di Bologna.
              Dopo tre anni a Londra, tra sacrifici e soddisfazioni tra le quali aver tenuto la sua prima mostra personale nel
              Febbraio 2017 è pronta ad intraprendere il suo prossimo grande passo.</p>

          <p>Simona è stata ammessa al Master di Illustrazione presso la Kingston University di Londra con inizio a Settembre che
              avrà un costo complessivo di circa £8.000.</p>

          <p>In questa campagna crowdfunding potrete avere l’opportunità ricevere originali prodotti e servizi
              in cambio di unpiccolo contributo che andrà ad aiutare enormemente Simona ad affrontare la spesa di questo master.
              Insieme a prodotti e servizi artistici offerti da Simona potrete trovarne altri offerti calorosamente
              da alcuni dei suoi più cari amici.</p>

          <p>Potrete inoltre scegliere l’opzione “semplice donazione” con la quale potrete donare una somma a vostro piacere.

              Anche il più piccolo aiuto può fare la differenza!</p>

          <p>Grazie!</p>
      </div>
    </div>
    </div>


   </div>
</div>
{% endblock %}


{% block og_meta %}
{{ super() }}
<meta property="og:description"
      content="Simona De Leo is an Italian illustrator now based in London.
                In September she will start a Master in Illustration at Kingston University, London which has a cost of £8.000.
                Through this crowdfunding campaign you will have the opportunity to get very original pieces of art or services in
                exchange of your contribution which will enormously help Simona in facing the Master’s expenses.
                Together with Simona’s offers you can get also others from Simona’s friends who have warmly offered their help
                and availability.">
{% endblock %}

