<div class="container-fluid">
   <div class="container">
        <p>Hi,
        <p>We want to do something special for Simona as it was her birthday and she is also starting an MA in Illustration in autumn which will cost her around £9,000.
     We want to show her some love and support and raise some money so she has to worry a little bit less for her next chapter.
     Some of her friends have kindly donated some of their time and efforts that you can bid on, but you can also just donate an amount of your choice.
       Have a look at below perks you can exchange for a donation.
     All proceedings will go to Simona.</p>

     <p>For more information and updates please see <a href="https://www.facebook.com/groups/422802864758448" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i> Simona De Leo’s Crowdfunding Campaign</a>. </p>

      <p>Thanks.</p>
   </div>
</div>