{% import "bootstrap/wtf.html" as wtf %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salty Jitterbugs Voting Admin</title>
        <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
<script>
    $('body').on('click', '.vote_submit', function(e) {
            var url = "{{ url_for('vote_submit') }}";
            $('#options').val($(this).data('value'));
            $.ajax({
                type: "POST",
                url: url,
                data: $('form').serialize(),
                success: function (data) {
                    console.log(data);
                }
            });
            e.preventDefault();
    });
</script>

<div class="container-fluid">
    <div class="container my-4">
        <form method="post">
            <div class="form-group">
                {{ form.hidden_tag() }}
                {{ form.name }}
                {% if not results_data or form.stop_voting.data  %}
                    {{ form.start_voting(class="btn btn-primary") }}
                {% else %}
                    {{ form.stop_voting(class="btn btn-primary") }}
                {% endif %}
                <a href="{{url_for('vote_admin')}}" class="btn btn-primary">Refresh</a>
            </div>
        </form>
        {% if results_data %}

        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th class="col-5"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{% if results_data['left']> results_data['right'] %}<i class="fa fa-star text-warning" aria-hidden="true"></i>{% endif %}</td>
                <td>Left</td>
                <td>{{ results_data['left'] }}</td>
                <td>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: {{progress_data['left_pcnt']}}%;" aria-valuenow="{{progress_left}}" aria-valuemin="0" aria-valuemax="{{ progress_data['total_max'] }}"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>{% if results_data['right']> results_data['left'] %}<i class="fa fa-star text-warning" aria-hidden="true"></i>{% endif %}</td>
                <td>Right</td>
                <td>{{ results_data['right'] }}</td>
                <td>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: {{progress_data['right_pcnt']}}%;" aria-valuenow="{{progress_right}}" aria-valuemin="0" aria-valuemax="{{ progress_data['total_max'] }}"></div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
</body>
</html>