{% import "bootstrap/wtf.html" as wtf %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Salty Jitterbugs Voting</title>
        <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ClientJS/0.1.11/client.min.js"></script>
<script>

    $('body').ready(function() {
        var client = new ClientJS();
        $('#client_fingerprint').val(client.getFingerprint());
    });

    $('body').on('click', '.vote_submit', function(e) {
            var url = "{{ url_for('vote_submit') }}";
            $('#options').val($(this).data('value'));
            $.ajax({
                type: "POST",
                url: url,
                data: $('form').serialize(),
                success: function (data) {
                    if(data=="Success") {
                        $('#voting_success').modal();
                    } else if(data.errors && 'csrf_token' in data.errors) {
                        window.location.reload();
                    } else {
                        console.log(data);
                    }
                }
            });
            e.preventDefault();
    });
</script>

        <form class="form form-vertical">
            <div class="form_fields">
<div class="container-fluid">
    <div class="container my-4"><div class="form-group">
            {{ form.hidden_tag() }}
                <input type="hidden" name="client_fingerprint" id="client_fingerprint" value="">
                <input type="hidden" name="options" id="options" value="">
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">Salty Voting</h4>
                        <button type="buttone" class="btn btn-lg btn-primary form-control vote_submit mb-4" data-value="left"><i class="fa fa-hand-o-left fa-fw" aria-hidden="true"></i> LEFT</button>
                        <button type="buttone" class="btn btn-lg btn-primary form-control vote_submit mb-4" data-value="right">RIGHT <i class="fa fa-hand-o-right fa-fw" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
    </div>
</div></div>
        </form>


<!-- Modal -->
<div class="modal fade" id="voting_success" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content card-success">
      <div class="modal-body">
          Vote submitted!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</body>
</html>