{% extends "signup.html" %}

{% block og_meta %}
<meta property="og:title" content="{{event.name}}">
<meta property="og:image" content="{{ url_for('static', filename='events/{}/event_preview_1.jpg'.format(event.event_key), _external=True) }}">
<meta property="og:url" content="{{ url_for('register_form', event_key=event.event_key, _external=True) }}">
<meta property="og:description"
      content="All styles Salty Jitterbug Contest at the last Salty Monday of the season 10-July 22:00.
                The music will be live and it will be fast! Any dance style goes!
                Grab your partner, show the salty audience what you've got and get a chance to win
                free tickets to our Salty Recipes with Pol & Sara!">
{% endblock %}

{% block info_section %}
<section class="container-fluid my-5">
   <div class="container">
        <p>All styles Salty Jitterbug Contest at the last Salty Monday of the season 10-July 22:00.
            The music will be live and it will be fast! Any dance style goes!
            Grab your partner, show the salty audience what you've got and get a chance to win
            free tickets to our Salty Recipes with Pol & Sara!</p>
   </div>
</section>
{% endblock %}
